/*
 * Style for the LINCS-DCIC website.
 */
/* LESS variables
 * ------------------------------------------------------------------------- */
/* colors */
/* Logo and accent colors */
/* Unused! */
/* fonts */
/* Tag selectors, i.e. global settings.
 * ------------------------------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: 'Arial', sans-serif;
}
a {
  /* Set default to override Bootstrap's default. */
  color: #000000;
}
a:hover,
a:active,
a:link,
a:visited {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Narrow', sans-serif;
}
/* Structal elements: wrapper, header, footer, and related content.
 * ------------------------------------------------------------------------- */
#wrapper {
  background: #ffffff;
  min-height: 100%;
  height: auto;
}
#header {
  border-bottom: 1px solid #dddddd;
}
#brand {
  padding-top: 60px;
}
#brand #logo {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 2em;
}
#brand #logo #dcic-title {
  float: left;
  padding: 0 0 0 15px;
}
#brand #logo img {
  float: left;
  /*display: block;
            margin: 0 auto;*/
  max-width: 160px;
  padding-bottom: 10px;
}
#brand #logo a {
  text-decoration: none;
}
#brand #logo a:hover,
#brand #logo a:visited {
  text-decoration: none;
}
#brand #logo span#lincs-title-top {
  color: #808080;
  display: block;
  font-size: 20px;
  font-weight: normal;
}
#brand #logo span#lincs-title-bottom {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}
#subnav {
  background: #3593b1;
  padding: 0;
  letter-spacing: 0.1em;
  /* Override Bootstrap */
  border: none;
  min-height: 0;
}
#subnav a {
  color: #ffffff;
  display: inline-block;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  width: 100%;
}
#subnav a:hover {
  color: #ffffff;
}
#subnav ul {
  margin-bottom: 0;
}
#subnav li {
  /* This is to ensure the nav doesn't bump down on hover. */
  border-bottom: 4px solid #3593b1;
  padding: 8px;
}
#subnav li a {
  font-size: 16px;
  padding: 0;
}
#subnav li:hover {
  border-bottom: 4px solid #09505b;
}
#subnav .navbar-right a {
  font-size: 14px;
}
#content-wrapper {
  padding-top: 10px;
}
#content-wrapper .column-h {
  font-family: 'Archivo Narrow', sans-serif;
  padding: 20px 0 0 0;
}
#content-wrapper img.icon {
  padding: 10px;
}
#content-wrapper .question {
  font-size: 50px;
  font-weight: bold;
}
#footer {
  background: #222222;
  border-top: 5px solid #888888;
  height: auto;
  margin-top: 40px;
  padding: 30px 0;
}
#footer a,
#footer p {
  color: #ffffff;
  font-size: 12px;
}
#footer a {
  font-family: 'Open Sans';
}
#footer a:hover {
  color: #599fb7;
}
#footer h4 {
  color: #ffffff;
}
#footer ul {
  list-style-type: none;
  padding: 0;
}
#footer #social a {
  border: none;
  border-radius: 0;
}
#footer #social img {
  width: 30px;
}
#footer #social li {
  padding-right: 0;
  padding-left: 3px;
}
#footer #social .research-gate {
  padding: 0;
}
/* Carousel or rotator. Most of the element names are defined by Bootstrap
 * and should not be renamed.
 * ------------------------------------------------------------------------- */
#feature-banner {
  padding: 10px 0 40px 0;
  /* Images should be cut exactly. */
  width: 100%;
}
#feature-banner #carousel-img-link,
#feature-banner img {
  display: block;
  width: 100%;
}
#feature-banner button {
  background: transparent;
  border: none;
}
#feature-banner .carousel-btn {
  background: #fff;
  border: none;
  bottom: 10px;
  position: absolute;
  height: 20px;
  width: 20px;
}
#feature-banner .carousel-highlight {
  background: #3593b1;
}
#feature-banner .carousel-indicators {
  bottom: 0;
}
#feature-banner .carousel-indicators li {
  border: 1px solid #09505b;
}
#feature-banner .carousel-caption {
  background: #dddddd;
  color: #000000;
  padding: 10px;
  position: static;
  text-align: left;
  text-shadow: none;
}
#feature-banner .carousel-caption .caption-title-block,
#feature-banner .carousel-caption .caption-text {
  float: left;
}
#feature-banner .carousel-caption .caption-title-block {
  padding-right: 10px;
  width: 25%;
}
#feature-banner .carousel-caption .caption-title-block a {
  color: #3593b1;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#feature-banner .carousel-caption .caption-title-block a:hover {
  color: #000000;
}
#feature-banner .carousel-caption .caption-title-block h4 {
  margin-top: 0;
}
#feature-banner .carousel-caption .caption-title-block p {
  margin: 0;
}
#feature-banner .carousel-caption .caption-text {
  font-size: 16px;
  padding-left: 10px;
  width: 75%;
}
/* Category content is related but varies in style. "category-index" refers
 * to content on the main page. "catgory-page" refers to content on
 * individual pages.
 * ------------------------------------------------------------------------- */
.category-index ul,
.category-page ul {
  padding: 0 0 0 15px;
}
.category-index li,
.category-page li {
  list-style-type: none;
}
.category-index li a,
.category-page li a {
  /* Color on the main page is black; on individual pages it is accent. */
}
.category-index li a:hover,
.category-page li a:hover {
  cursor: pointer;
}
.category-index li:before,
.category-page li:before {
  /* FontAwesome char code inside the '' */
  content: '\F105';
  color: #222222;
  font-family: 'FontAwesome';
  display: inline-block;
  width: 1.2em;
  margin-left: -1.5em;
  padding-left: 6px;
}
.category-index {
  background: #ffffff;
  box-shadow: 1px 1px 1px #c5c5c5;
  border: 1px solid #ccc;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.category-index a:hover {
  color: #599fb7;
}
.category-index td {
  vertical-align: middle;
}
.category-index td.first {
  border-top: none;
}
.category-index h4 {
  border-bottom: 1px solid #ebebeb;
  color: #000000;
  /* In case the header doesn't have a link */
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  padding: 0 0 6px 0;
  margin-top: 0;
}
.category-index h4 a {
  color: #000000;
  font-family: 'Archivo Narrow', sans-serif;
}
.category-index table {
  margin-bottom: 0;
}
.category-index table img {
  width: 50px;
}
.category-index table a {
  color: #000000;
}
.category-index table a:hover {
  color: #3593b1;
}
.category-page a {
  color: #3593b1;
}
.category-page a:hover {
  color: #09505b;
  text-decoration: underline;
}
.category-page table {
  margin-bottom: 0;
}
.category-page table img {
  width: 100px;
}
.category-page table td:first-child {
  width: 100px;
}
.category-page table p {
  margin-bottom: 0;
}
.category-page#analysis .col-md-4 textarea {
  height: 200px;
  width: 100%;
}
.category-page#analysis .col-md-8 input,
.category-page#analysis .col-md-8 textarea {
  margin-bottom: 10px;
  width: 100%;
}
.category-page#analysis .submitted {
  position: absolute;
  padding: 1.6em;
  background-color: rgba(255, 255, 255, 0.8);
  left: 3em;
}
.category-page#analysis #example {
  color: #808080;
  font-size: 13px;
}
.category-page #news .first img {
  float: left;
  padding-right: 10px;
  width: 30%;
}
.category-page #news .first a {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
.category-page #news .first .details {
  float: right;
  width: 70%;
}
.category-page #sections {
  padding-top: 20px;
}
.category-page #sections .section {
  padding-bottom: 20px;
}
.category-page #sections .section h3 {
  margin-top: 0;
}
.category-page #sections .section img,
.category-page #sections .section .text {
  float: left;
}
.category-page #sections .section img {
  width: 20%;
}
.category-page #sections .section .text {
  padding-left: 20px;
  width: 80%;
}
.category-page .publication,
.category-page .newsStory,
.category-page .event {
  padding-bottom: 20px;
}
.category-page .publication p,
.category-page .newsStory p,
.category-page .event p {
  margin: 0;
}
.category-page .publication .title,
.category-page .newsStory .title,
.category-page .event .title {
  font-size: 16px;
}
.category-page #team .pi {
  /* This is for when the page is collapsed. */
  padding-top: 10px;
}
.category-page #team .contact-institution-logo-row {
  margin-bottom: 10px;
}
.category-page #team .contact-institution-logo {
  height: 80px;
  display: block;
  margin-bottom: 15px;
}
.category-page #team .contact-pi-logo {
  height: 80px;
}
.category-page #team .contact-pi-desc {
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}
.category-page #team .contact-header {
  border-bottom: 1px solid #888888;
  /*text-transform: uppercase;*/
  margin-top: 15px;
}
.category-page #team .contact-researchers {
  margin-bottom: 10px;
}
.category-page #team .person {
  padding-top: 10px;
}
.right-nav img {
  width: 100%;
}
/* Miscellaneous global selectors.
 * ------------------------------------------------------------------------- */
a.important,
.important {
  font-style: normal;
  font-weight: bold;
  color: #d16291 !important;
}
a.important a,
.important a {
  color: #d16291 !important;
}
a.important a:hover,
.important a:hover {
  color: #599fb7 !important;
}
.clear {
  clear: both;
}
/* Override Bootstrap default */
.navbar {
  margin-bottom: 5px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-right {
  margin-right: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover:hover,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:hover:active,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover:focus,
.navbar-default .navbar-toggle:focus {
  background: #09505b;
}
