/* colors */
/* fonts */
html,
body {
  height: 100%;
}
body {
  background: #f1f1f1;
}
a {
  color: #4285f4;
}
a:hover {
  color: #07435b;
  text-decoration: none;
}
#wrapper {
  background: #ffffff;
  min-height: 100%;
  /* Negative indent footer by its height. */
  margin: 0 auto -160px;
  /* Pad bottom by footer height */
  padding: 0 0 160px;
}
.center-container {
  height: 100%;
}
#brand #logo {
  color: #07435b;
  display: block;
  padding: 5px;
}
#brand #logo #lincs-logo,
#brand #logo #lincs-title {
  float: left;
}
#brand #logo #lincs-logo {
  display: inline;
}
#brand #logo #lincs-title {
  position: relative;
  top: 5px;
  font-family: 'Monda', sans-serif;
}
#brand #logo #lincs-title:hover {
  color: #4285f4;
}
#brand #logo #lincs-title #lincs-subtitle {
  color: #888888;
  position: relative;
  top: 10px;
}
#header {
  padding-top: 10px;
}
#subnav {
  border-top: 3px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0;
}
#subnav a {
  color: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
#subnav a:hover,
#subnav a:active,
#subnav a:focus {
  text-decoration: none;
}
#subnav ul {
  margin-bottom: 0;
}
#subnav li {
  border-right: 1px solid #dddddd;
}
#subnav li:hover {
  background: #dddddd;
}
#subnav li.last {
  border-right: none;
}
#content {
  padding-top: 10px;
}
#footer {
  background: #222222;
  border-top: 1px solid #222222;
  height: 160px;
  padding: 20px 0 30px 0;
}
#footer a,
#footer p {
  color: #808080;
}
#footer a:hover {
  color: #4285f4;
  text-decoration: none;
}
#footer p {
  padding-top: 20px;
}
#footer #org-logos {
  padding-top: 20px;
}
#footer #org-logos img {
  height: 30px;
  margin: 0 5px;
}
.fill {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #990000;
  padding: 10px;
  color: #efefef;
}
.table {
  margin-bottom: 0;
}
.table td {
  vertical-align: middle;
}
.category {
  background: #ffffff;
  box-shadow: 3px 3px 3px #c5c5c5;
  border: 1px solid #ccc;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.category .content {
  font-size: 13px;
}
.category a {
  color: #000000;
}
.category a:hover {
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
}
.category ul {
  padding: 0 0 0 15px;
}
.category h4 {
  border-bottom: 1px solid #ebebeb;
  color: #07435b;
  /* In case the header doesn't have a link */
  font-family: 'Monda', sans-serif;
  font-weight: bold;
  padding: 0 0 6px 0;
  margin-top: 0;
}
.category h4 a {
  color: #07435b;
}
.category#news .table > td {
  text-align: center;
}
.category#news img {
  max-width: 50px;
}
/* Carousel */
#carousel {
  width: 100%;
  height: 150px;
  padding-bottom: 6px;
  /* Images should be cut exactly; this should not have to be done. But just in case. */
}
#carousel #carousel-img-link,
#carousel img {
  display: block;
  height: 100%;
  width: 100%;
}
#carousel .carousel-btn {
  background: #fff;
  border: 1px solid gray;
  bottom: 10px;
  position: absolute;
  height: 20px;
  width: 20px;
}
#carousel .carousel-highlight {
  background: #F08989;
}
/* Don't place under `categories` because these also stylize standalone pages */
#news img {
  max-width: 100px;
}
#toolsapps img {
  width: 25px;
}
#community ahover {
  cursor: pointer;
}
#community #social {
  bottom: 10px;
  left: 12px;
}
#community #social a {
  color: #ffffff;
}
#community #social img {
  width: 32px;
}
#community #social .research-gate {
  padding: 0;
}
#community #social #social-iconshover {
  cursor: pointer;
  opcacity: .8;
}
#analysis .col-md-4 textarea,
#analysis .col-sm-4 textarea {
  height: 200px;
  width: 100%;
}
#analysis .col-md-8 input,
#analysis .col-sm-8 input,
#analysis .col-md-8 textarea,
#analysis .col-sm-8 textarea {
  margin-bottom: 10px;
  width: 100%;
}
#analysis .submitted {
  position: absolute;
  padding: 1.6em;
  background-color: rgba(255, 255, 255, 0.8);
  left: 3em;
}
#analysis #example {
  color: #808080;
  font-size: 13px;
}
#summerresearch img {
  width: 100%;
}
/* Team page */
#team .contact-institution-logo-row {
  margin-bottom: 10px;
}
#team .contact-institution-logo {
  height: 80px;
  display: block;
  margin-bottom: 15px;
}
#team .contact-pi-logo {
  height: 80px;
}
#team .contact-pi-desc {
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}
#team .contact-header {
  border-bottom: 1px solid #888888;
  /*text-transform: uppercase;*/
  margin-top: 15px;
}
#team .contact-researchers {
  margin-bottom: 10px;
}
@media (max-width: 9999px) {
  #logo {
    height: 90px;
  }
  #logo #lincs-logo {
    width: 78px;
  }
  #logo #lincs-title {
    font-size: 24px;
    padding-left: 10px;
    position: relative;
    top: 16px;
  }
}
@media (max-width: 980px) {
  #logo {
    width: 560px;
  }
}
@media (max-width: 760px) {
  #logo {
    padding-bottom: 2px;
    width: 450px;
  }
  #logo #lincs-title {
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    top: 16px;
  }
}
@media (max-width: 480px) {
  #logo {
    padding-bottom: 2px;
    width: 335px;
  }
  #logo #lincs-logo {
    position: relative;
    top: 12px;
    width: 52px;
  }
  #logo #lincs-title {
    font-size: 13px;
    position: relative;
    top: 20px;
  }
}
.spn-link {
  color: #4285f4;
  cursor: pointer;
}
.spn-link:hover {
  color: #07435b;
}
.top-buffer {
  margin-top: 20px;
}
a.important,
.important {
  color: #ff0000;
}
a.important a,
.important a {
  color: #ff0000;
}
a.important a:hover,
.important a:hover {
  color: #4285f4;
}
/* Override Bootstrap default */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar {
  margin-bottom: 5px;
}
.col-md-4 h5 {
  background: #07435b;
  color: #ffffff;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 7px 0;
  text-align: center;
}
