<div id="analysis">
	<form ng-submit="submit()">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<strong>Gene list</strong><br>
				<textarea placeholder="Gene List" ng-model="formData.geneList" id="geneSubmission"></textarea>
				<p id="example">
					Example:<br>
					ADAM10, 0.180332<br>
					ADAM12, 0.145189<br>
					ADAMTS10, 0.168047<br>
					ARHGAP1, 0.138820<br>
					ARHGAP28, 0.158224<br>
					...
				</p>
			</div>
			<div class="col-md-8 col-sm-8">
				<strong>Metadata</strong><br>
				<input ng-model="formData.desc" placeholder="Title of gene list"></input>
				<input ng-model="formData.pmid" placeholder="Identifier if available, e.g. PubMed ID, GEO accession number"></input>
				<input ng-model="formData.cell" placeholder="Tissue or cell line"></input>
				<input ng-model="formData.assay" placeholder="Assay type"></input>
				<input ng-model="formData.organism" placeholder="Organism"></input>
				<textarea ng-model="formData.method" placeholder="Brief description of the method"></textarea>
			</div>
		</div>
		<button>Submit</button>
	</form>
</div>