<div class="row">
	<!-- three main columns -->
	<div name="learn" class="col-md-4 col-sm-4">
		<h5>LEARN</h5>
		<div class="category" id="introduction">
			<h4><a href="#/introduction">Introduction &raquo;</a></h4>
			<a href="#/introduction"><img class="img-responsive" src="images/intro/pipeline.png" /></a>
		</div>
		<div class="category" ng-controller="educationCtrl">
			<h4><a href="#/education">Education &raquo;</a></h4>
			<ul class="content">
				<li ng-repeat-start="link in entries" ng-if="$first">
					<a href="{{link.url}}" target="_blank"><em class="important">Now accepting applications: </em>{{link.title}}</a>
				</li>
				<li ng-repeat-end="link in entries" ng-if="!$first">
					<a href="{{link.url}}" target="_blank">{{link.title}}</a>
				</li>
			</ul>
		</div>
		<div class="category" ng-controller="publicationsCtrl">
			<h4><a href="#/publications">Publications &raquo;</a></h4>
			<ul class="content">
				<li ng-repeat="link in entries | limitTo:3">
					<em><a href="{{link.url}}" target="_blank">{{link.title}}</a></em><span>. {{link.citation}}. {{link.year}}.</span>
				</li>
			</ul>
		</div>
	</div>
	<div name="explore" class="col-md-4 col-sm-4">
		<h5>EXPLORE</h5>
		<div class="category" id="dataassays" ng-controller="datasetsassaysCtrl">
			<h4><a href="#/dataassays">Datasets & Assays &raquo;</a></h4>
			<ul class="content">
				<li ng-repeat-start="link in entries" ng-if="$first">
					<em class="important"><a href="{{link.url}}" target="_blank">{{link.title}}</a></em>
				</li>
				<li ng-repeat-end="link in entries" ng-if="!$first">
					<a href="{{link.url}}" target="_blank">{{link.title}}</a>
				</li>
			</ul>
		</div>
		<div class="category" id="toolsapps" ng-controller="toolsappsCtrl">
			<h4><a href="#/toolsapps">Tools & Apps &raquo;</a></h4>
			<table class="content table">
				<tr ng-repeat="link in entries | limitTo:4">
					<td><a href="{{link.url}}" target="_blank"><img ng-src="images/app-logos/{{link.image}}" /></a></td>
					<td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
				</tr>
			</table>
		</div>
		<div class="category" ng-controller="apidocsCtrl">
			<h4><a href="#/apidocs" class="more">APIs & Documentation &raquo;</a></h4>
			<ul class="content">
				<li ng-repeat="link in entries">
					<a href="{{link.url}}" target="_blank">{{link.title}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div name="getinvolved" class="col-md-4 col-sm-4">
		<h5>GET INVOLVED</h5>
		<div class="category" id="news" ng-controller="newsCtrl">
			<h4><a href="#/news">News &raquo;</a></h4>
			<table class="content table">
				<tr ng-repeat="link in entries | limitTo:2">
					<td><a href="{{link.url}}" target="_blank"><img ng-src="images/news/{{link.image}}" /></a></td>
					<td><strong>{{link.date}}: </strong><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
				</tr>
			</table>
		</div>
		<div class="category">
			<h4>Events</h4>
			<div id="calendar"></div>
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=dl9fj86o2ohe7o823s7jar920s%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="150" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="category" id="community">
			<h4>Community</h4>
			<div class='content'>
				<div ng-controller="communityCtrl" >
					<ul>
						<li ng-repeat="link in entries">
							<a href="{{link.url}}">{{link.title}}</a>
						</li>
					</ul>
				</div>
					<a class="twitter-timeline" href="https://twitter.com/BD2KLINCSDCIC" data-widget-id="540278089990029312">Tweets by @BD2KLINCSDCIC</a>
				<div ng-controller="emailCtrl">
					<div class="submitted" ng-show="submitted">Submitted!</div>
					<div>Join our mailing list:</div>
					<input placeholder="your email address" type="email" ng-model="email"><button ng-click="submit()">Submit</button>
				</div>
				<div id="social">
					<span>Follow us on: </span>
					<span id="social-icons">
						<a href="https://twitter.com/BD2KLINCSDCIC" target="_blank" class="btn btn-social-icon btn-sm btn-facebook">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://twitter.com/BD2KLINCSDCIC" target="_blank" class="btn btn-social-icon btn-sm btn-twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="https://www.linkedin.com/groups/BD2K-LINCS-DCIC-8215448?home=&gid=8215448" target="_blank" class="btn btn-social-icon btn-sm btn-linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
						<a href="http://www.youtube.com/channel/UC88h_MIO1LP7Jv52VQ4qKkg" target="_blank" class="btn btn-social-icon btn-sm btn-youtube">
							<i class="fa fa-youtube-play"></i>
						</a>
						<a href="https://twitter.com/BD2KLINCSDCIC" target="_blank" class="btn research-gate">
							<img src="images/button-researchgate.png">
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>