<div id="contact">
	<div class="row contact-institution-logo-row">
		<!-- logo columns -->
		<div  class="col-md-4 col-sm-4">
			<img src="data/contact/images/mssm.jpg" class="contact-institution-logo">
			<div>
				<img src="data/contact/images/Avi.jpg" class="contact-pi-logo">
				<div class="contact-pi-desc">
					<div>Avi Ma'ayan</div>
					<div>Associate Professor</div>
					<div><a href="mailto:avi.maayan@mssm.edu">avi dot maayan at mssm dot edu</a></div>
				</div>
			</div>
		</div>
		<div  class="col-md-4 col-sm-4">
			<img src="data/contact/images/university-of-cincinnati-logo.jpg" class="contact-institution-logo">
			<div>
				<img src="data/contact/images/Mario.jpg" class="contact-pi-logo">
				<div class="contact-pi-desc">
					<div>Mario Medvedovic</div>
					<div>Associate Professor</div>
					<div><a href="mailto:mario.medvedovic@uc.edu">mario dot medvedovic at uc dot edu</a></div>
				</div>
			</div>
		</div>
		<div  class="col-md-4 col-sm-4">
			<img src="data/contact/images/umiami_prime_300.jpg" class="contact-institution-logo">
			<div>
				<img src="data/contact/images/Stephan.jpg" class="contact-pi-logo">
				<div class="contact-pi-desc">
					<div>Stephan Schurer</div>
					<div>Associate Professor</div>
					<div><a href="mailto:SSchurer@med.miami.edu">sschurer at med dot miami dot edu</a></div>
				</div>
			</div>
		</div>
		
	</div>


	<h3 class="contact-header"> Data Integration </h3>

	<div class="row">
		<div ng-repeat="entry in dataIntegration" class="col-md-4 col-sm-4 contact-researchers">
			<div>
				{{entry.name}}, {{entry.affiliation}}
			</div>
			<div>
				<a href="mailto:{{entry.email}}">{{entry.email}}</a>
			</div>
		</div>
	</div>


	<h3 class="contact-header"> Web Development </h3>

	<div class="row">
	<div ng-repeat="entry in webDevelopment" class="col-md-4 col-sm-4 contact-researchers">
			<div>
				{{entry.name}}, {{entry.affiliation}}
			</div>
			<div>
				<a href="mailto:{{entry.email}}">{{entry.email}}</a>
			</div>
		</div>
	</div>
</div>