/* colors */
@color-white: #ffffff;
@color-black: #000000;

@color-lightgray: #f1f1f1;
@color-gray: #dddddd;
@color-darkgray: #888888;
@color-charcoal: #222222;
@color-lightcharcoal: #808080;

@color-orange: #c4651f;
@color-googleblue: #4285f4;
@color-lightblue: #71A7BD;
@color-red: #ff0000;

/* Logo and accent colors */
@color-primary: #306f84;
@color-primary-light: #599fb7;
@color-accent: #ff00f0;

/* fonts */
@font-size-base: 13px;
@font-family-base: 'Arial', sans-serif;
@font-family-accent: 'Open Sans', sans-serif;

@footer-height: 200px;

html,
body {
    height: 100%;
}
a {
	color: @color-primary-light;
	&:hover {
		color: @color-primary;
		text-decoration: none;
	}
}
div,
p,
a,
span {
    font-family: @font-family-base;
}
#wrapper {
    background: @color-white;
	min-height: 100%;
    height: auto;
	/* Negative indent footer by its height. */
	margin: 0 auto -@footer-height;
	/* Pad bottom by footer height */
	padding: 0 0 @footer-height;
}
#brand {
    #logo {
        color: @color-primary;
        display: block;
        padding: 5px;
        #lincs-logo,
        #lincs-title {
            float: left;
        }
        #lincs-logo {
            display: inline;
        }
        #lincs-title {
            color: @color-black;
            font-family: @font-family-accent;
            font-size: 30px;
            font-weight: bold;
            &:hover {
                color: @color-primary-light;
            }
        }
        #lincs-subtitle-left {
            padding-right: 10px;
        }
        #lincs-subtitle-right {
            border-left: 1px solid @color-charcoal;
            padding-left: 10px;
        }
    }
}
#header {
    background: @color-white;
    padding-top: 10px;
}
#subnav {
    background: @color-gray;
    padding-bottom: 0;
    a {
        color: @color-black;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
    ul {
        margin-bottom: 0;
    }
    li {
        &:hover {
            background: @color-gray;
        }
    }
}
/* Carousel */
#feature-banner {
    padding: 10px 0 40px 0;
    width: 100%;
    /*height: 340px;*/
    /* Images should be cut exactly; this should not have to be done. But just in case. */
    #carousel-img-link,
    img {
        display: block;
        height: 100%;
        width: 100%;
    }
    button {
        background: transparent;
        border: none;
    }
    .carousel-btn {
        background: #fff;
        border: none;
        bottom: 10px;
        position: absolute;
        height: 20px;
        width: 20px;
    }
    .carousel-highlight {
        background: @color-accent;
    }
    .carousel-indicators {
        bottom: 0;
    }
    .carousel-indicators li {
        border: 1px solid @color-primary !important;
    }
    .carousel-caption {
        background: @color-white;
        color: @color-black;
        left: 10px;
        opacity: .85;
        padding: 10px;
        text-align: left;
        text-shadow: none;
        width: 400px;
        h4 {
            color: @color-accent;
            font-family: @font-family-accent;
        }
    }
}
#content-wrapper {
    padding-top: 10px;
    h5.column-h {
		background: @color-primary;
		color: @color-white;
		font-family: @font-family-accent;
		font-size: 16px;
		margin-bottom: 15px;
		padding: 7px 0;
		text-align: center;        
    }
}
#footer {
    height: @footer-height;
    padding-top: 20px;
	a,
	p {
		color: @color-white;
	}
	a {    
		font-family: 'Open Sans';
		&:hover {
			color: @color-primary-light;
			text-decoration: none;
		}
	}
	#org-logos {
	    border-top: 1px solid @color-gray;
        padding: 25px 0;
		img {
			height: 40px;
			margin: 0 5px;
		}
	}
    #extra {
        background: @color-black;
        font-family: @font-family-accent;
        font-size: 12px;
        padding: 20px 0;
        li:first-child {
            border-right: 1px solid @color-white;
            padding-right: 20px;
        }
        li:last-child {
            padding-left: 20px;
        }
        a {
            &:hover {
                color: @color-primary;
            }
        }
    }
}
.table {
	margin-bottom: 0;
	td {
		vertical-align: middle;
	}
}
.category-index {
	background: @color-white;
	box-shadow: 3px 3px 3px #c5c5c5;
	border: 1px solid #ccc;
	min-height: 100px;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	a {
		color: @color-black;
		&:hover {
			color: @color-primary-light;
			cursor: pointer;
			text-decoration: none;
		}
	}
	td {
        vertical-align: middle;
	}
	td.first {
        border-top: none;
	}
	ul {
		padding: 0 0 0 15px;
	}
	li {
        list-style-type: none;
	}
	li:before {
        content: '\F105'; /* FontAwesome char code inside the '' */
        color: @color-charcoal;
        font-family: 'FontAwesome';
        display: inline-block;
        width: 1.2em; /* same as padding-left set on li */
        margin-left: -1.2em; /* same as padding-left set on li */
    }
	h4 {
		border-bottom: 1px solid #ebebeb;
		color: @color-black; /* In case the header doesn't have a link */
		font-family: @font-family-accent;
		font-weight: bold;
		padding: 0 0 6px 0;
		margin-top: 0;
		a {
			color: @color-black;
		}
	}
	.content {
		font-size: @font-size-base;
	}
	table.content {
        img {
            width: 50px;
        }
	}
	&#toolsapps {
        table.content {
            a {
                font-weight: bold;
            }
        }
	}
	&#news {
        table.content {
            p {
                font-weight: bold;
                margin-bottom: 0;
            }
        }
	}
    &#community {
        a {
            &hover {
                cursor: pointer;
            }
        }
        #social {
            bottom: 10px;
            left: 12px;
            padding-top: 20px;
            a {
                border: none;
                border-radius: 0;
                color: @color-white;
            }
            img {
                width: 30px;
            }
            .research-gate {
                padding: 0;
            }
            #social-icons {
                &hover {
                    cursor: pointer;
                    opcacity: .8;
                }
            }
        }
    }
}

/* Don't place under `categories` because these also stylize standalone pages */
.category-page {
    a {
        color: @color-black;
        &:hover {
            text-decoration: underline;
        }
    }
    h3 {
        font-family: @font-family-accent;
        font-weight: bold;
    }
    table.content {
        img {
            width: 75px;
        }
        td:first-child {
            width: 100px;
        }
        p {
     
            margin-bottom: 0;
        }
    }
    &#toolsapps {
        a {
            font-weight: bold;
        }
    }
    &#analysis {
        .col-md-4,
        .col-sm-4 {
            textarea {
                height: 200px;
                width: 100%;
            }
        }
        .col-md-8,
        .col-sm-8 {
            input,
            textarea {
                margin-bottom: 10px;
                width: 100%;
            }
        }
        .submitted {
            position: absolute;
            padding: 1.6em;
            background-color: rgba(255, 255, 255, 0.8);
            left: 3em;
        }
        #example {
            color: @color-lightcharcoal;
            font-size: 13px;
        }
    }
    &#summerresearch {
        img {
            width: 100%;
        }
    }

    /* Team page */
    &#team {
        .contact-institution-logo-row {
            margin-bottom: 10px;
        }
        .contact-institution-logo {
            height:80px;
            display: block;
            margin-bottom: 15px;
        }
        .contact-pi-logo {
            height:80px;
        }
        .contact-pi-desc {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
        }
        .contact-header {
            border-bottom: 1px solid #888888;
            /*text-transform: uppercase;*/
            margin-top: 15px;
        }
        .contact-researchers{
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 9999px) {
	#logo {
		height: 90px;
		#lincs-logo {
			width: 78px;
		}
		#lincs-title {
			font-size: 24px;
			padding-left: 10px;
			position: relative;
			top: 16px;
		}
	}
}
@media (max-width: 980px) {
	#logo {
		width: 560px;
	}
}
@media (max-width: 760px) {
	#logo {
		padding-bottom: 2px;
		width: 450px;
		#lincs-title {
			font-size: 18px;
			padding-left: 10px;
			position: relative;
			top: 16px;
		}
	}
}
@media (max-width: 480px) {
	#logo {
		padding-bottom: 2px;
		width: 335px;
		#lincs-logo {
			position: relative;
			top: 12px;
			width: 52px;
		}
		#lincs-title {
			font-size: 13px;
			position: relative;
			top: 20px;
		}
	}
    #feature-banner {
        display: none;
	}
}

.spn-link {
	color: @color-primary-light;
	cursor: pointer;
	&:hover {
		color: @color-primary;
	}
}
.top-buffer {
	margin-top: 20px;
}
a.important,
.important {
    font-style: normal;
    font-weight: bold;
	color: @color-accent;
	a {
		color: @color-accent;
		&:hover {
			color: @color-primary-light;
		}	
	}
}
/* Override Bootstrap default */
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar {
    margin-bottom: 5px;
}
