# OSX
*.DS_Store

# Dependencies
node_modules/
bower_components/
metadata-orig/

images/source/photographs/
images/source/intro diagram/

# Vim
*.swp

# WebStorm
.idea/

# EDSR applications
static/edsr/
