/*
 * Style for the LINCS-DCIC website.
 */
/* LESS variables
 * ------------------------------------------------------------------------- */
/* colors */
/* Logo and accent colors */
/* fonts */
/* Specific variables. */
.category-page.getting-started-page .faq {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.category-page.getting-started-page .section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 20px;
  vertical-align: middle;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.category-page.getting-started-page .section > img.horizontal {
  /*height: 100%;*/
  /*max-width: 75px;*/
  width: 50px;
}
.category-page.getting-started-page .section > img.vertical {
  /*width: 33%;*/
  /*max-width: 75px;*/
  /*position: relative;*/
  /*top: 60px;*/
  height: 36px;
}
.category-page.getting-started-page .section:hover {
  cursor: pointer;
  background-color: #c7e8f2;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.category-page.getting-started-page .section ul {
  opacity: .5;
}
.category-page.getting-started-page .start p,
.category-page.getting-started-page .middle,
.category-page.getting-started-page .end p {
  text-align: center;
  vertical-align: middle;
}
.category-page.getting-started-page .start p {
  font-size: 24px;
  height: 90px;
}
.category-page.getting-started-page .middle {
  display: none;
}
.category-page.getting-started-page .middle p {
  font-size: 16px;
  height: 110px;
}
.category-page.getting-started-page .end .row {
  display: none;
}
.category-page.getting-started-page .end .row p {
  height: 110px;
  color: black;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}
.category-page.getting-started-page .end .row p:hover {
  text-decoration: none;
}
.category-page.getting-started-page .content > .row {
  display: none;
}

/* Tools summary visualization using the tool icons. */

.category-page.direct-access-tools-page .tools-summary img {
  margin-left: 10px;
  width: 30px;
}

.category-page.direct-access-tools-page .tools ul li:before {
  content: '';
}
