/*
 * Style for the LINCS-DCIC website.
 */
/* LESS variables
 * ------------------------------------------------------------------------- */
/* colors */
/* Logo and accent colors */
/* fonts */
/* Specific variables. */
.category-page.getting-started-page .faq {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.category-page.getting-started-page .section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 20px;
  vertical-align: middle;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.category-page.getting-started-page .section > img.horizontal {
  /*height: 100%;*/
  /*max-width: 75px;*/
  width: 50px;
}
.category-page.getting-started-page .section > img.vertical {
  /*width: 33%;*/
  /*max-width: 75px;*/
  /*position: relative;*/
  /*top: 60px;*/
  height: 36px;
}
.category-page.getting-started-page .section:hover {
  cursor: pointer;
  background-color: #c7e8f2;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.category-page.getting-started-page .section ul {
  opacity: .5;
}
.category-page.getting-started-page .start p,
.category-page.getting-started-page .middle,
.category-page.getting-started-page .end p {
  text-align: center;
  vertical-align: middle;
}
.category-page.getting-started-page .start p {
  font-size: 24px;
  height: 90px;
}
.category-page.getting-started-page .middle {
  display: none;
}
.category-page.getting-started-page .middle p {
  font-size: 16px;
  height: 110px;
}
.category-page.getting-started-page .end .row {
  display: none;
}
.category-page.getting-started-page .end .row p {
  height: 110px;
  color: black;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}
.category-page.getting-started-page .end .row p:hover {
  text-decoration: none;
}
.category-page.getting-started-page .content > .row {
  display: none;
}


/* Tools summary visualization using the tool icons. */
.category-page.direct-access-tools-page .tools-summary img {
  margin-left: 10px;
  width: 30px;
}
.category-page.direct-access-tools-page .tools ul li:before {
  content: '';
}

/* Direct access tool common styling */
div.tool {
  font-size: 12px;
}

div.tool input {
  border: 1px solid #dddddd;
  width: 100%;
  padding: 5px;
  height: 40px;
  box-shadow: none;
}

div.tool a {
  color: black;
}
div.tool a:hover {
  color: black;
  opacity: .75;
  text-decoration: none;
}

div.tool input,
div.tool textarea {
  border: 1px solid #dddddd;
}


div.tool .tool-title {
  font-size: 20px;
}

div.tool .row.tool-header {
  margin-bottom: 5px;
}

/* Specific tool styling */
/* multiline text area styling. TODO: move to general tool style */
div.tool .textarea-wrapper {
  float: left;
  width: 48%;
}
div.tool .textarea-wrapper textarea {
  height: 200px;
  padding: 5px;
  width: 100%;
}
div.tool .introduction {
  margin-bottom: 50px;
}
div.tool #slicr {
  /* Qiaonan uses tags input. */
}
div.tool #slicr input {
  border: none;
}
div.tool tags-input .host {
  margin-bottom: 0;
}

/* general buttons */
div.tool img {
  height: 26px;
  /*margin-right: 2px;*/
}

div.tool button {
  margin: 10px 0;
  /* not selection outline */
  outline: none;
}

/* tool action bar */
div.tool div.action button {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 1px;
  padding: 0;
}

div.tool div.action button {
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

   /*3px 5px no-repeat;*/
  background-color: white;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}

div.tool div.action button:hover {
  opacity: 1.0;
  /*-webkit-filter: invert(1);*/
  /*filter: invert(1);*/
}

div.tool div.action button.selected {
  opacity: 1.0;
  /*background-color: rgb(179,205,227);*/
  /*background-color: rgb(236,231,242);*/
  outline: 1px solid rgb(5,112,176);
}

/*div.tool div.action button.hint:hover*/

div.tool div.action button.search {
  background-image: url("/images/concierge-icons/find_solid.svg");
}

div.tool div.action button.analysis {
  background-image: url("/images/concierge-icons/stacked.svg");
}

div.tool div.action button.api {
  background-image: url("/images/concierge-icons/web2.svg");
}

div.tool div.action button.navigation {
  background-image: url("/images/concierge-icons/compass.svg");
}

div.tool div.action button.download {
  background-image: url("/images/concierge-icons/download168.svg");
}

div.tool div.action button.cells {
  background-image: url("/images/concierge-icons/cell1.svg");
}

div.tool div.action button.drugs {
  background-image: url("/images/concierge-icons/chemistry43.svg");
}

div.tool div.action button.genetics {
  background-image: url("/images/concierge-icons/dna17.svg");
}

div.tool div.action button.assays {
  background-image: url("/images/concierge-icons/lab2.svg");
}
/* External data */
div.tool div.action button.external {
  background-image: url("/images/concierge-icons/data110.svg");
}

/* For greying out text */
.muted {
  color: rgb(150, 150, 150);
}

p.hand-written {
  font: 400 24px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-align: center;
}
.panel {
  border-style: solid;
  border-color: rgb(240,240,240);
  padding: 5px;
  /*margin: 10px;*/
}

.center-logo {
  max-height: 30px;
  max-width: 140px;
}


/*.tooltipsy {
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}
*/

/* bootstrip fix. Words for .col-sm-6 classes only.*/
.col-sm-6:nth-child(2n+1){
    clear: left;
}