/*
 * Style for the LINCS-DCIC website.
 */
/* LESS variables
 * ------------------------------------------------------------------------- */
/* colors */
/* Logo and accent colors */
/* fonts */
/* Specific variables. */
.category-page.getting-started-page .faq {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.category-page.getting-started-page .section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 20px;
  vertical-align: middle;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.category-page.getting-started-page .section:hover {
  cursor: pointer;
  background-color: #c7e8f2;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
.category-page.getting-started-page .section ul {
  opacity: .5;
}
.category-page.getting-started-page .start p,
.category-page.getting-started-page .middle,
.category-page.getting-started-page .end p {
  text-align: center;
  vertical-align: middle;
}
.category-page.getting-started-page .start p {
  font-size: 35px;
  height: 90px;
}
.category-page.getting-started-page .middle {
  display: none;
}
.category-page.getting-started-page .middle p {
  font-size: 35px;
  height: 150px;
}
.category-page.getting-started-page .end .row {
  display: none;
}
.category-page.getting-started-page .end .row p {
  height: 150px;
  color: black;
  display: inline-block;
  width: 100%;
  font-size: 35px;
}
.category-page.getting-started-page .end .row p:hover {
  text-decoration: none;
}
.category-page.getting-started-page .content .row {
  display: none;
}
.category-page.search-portal-page img {
  height: 100px;
}
.category-page.search-portal-page ul li:before {
  content: '';
}
.category-page.search-portal-page button {
  margin: 10px 0;
}
.category-page.search-portal-page input,
.category-page.search-portal-page textarea {
  border: 1px solid #dddddd;
}
.category-page.search-portal-page .textarea-wrapper {
  float: left;
  width: 48%;
}
.category-page.search-portal-page .textarea-wrapper textarea {
  height: 200px;
  padding: 5px;
  width: 100%;
}
.category-page.search-portal-page .introduction {
  margin-bottom: 50px;
}
.category-page.search-portal-page #lincs-data-portal input,
.category-page.search-portal-page #pi-lincs input,
.category-page.search-portal-page #slicr .tags,
.category-page.search-portal-page #harmonizome input {
  border: 1px solid #dddddd;
  width: 100%;
  padding: 5px;
  height: 40px;
  box-shadow: none;
}
.category-page.search-portal-page a:hover {
  opacity: .75;
}
.category-page.search-portal-page #slicr {
  /* Qiaonan uses tags input. */
}
.category-page.search-portal-page #slicr input {
  border: none;
}
.category-page.search-portal-page tags-input .host {
  margin-bottom: 0;
}
.category-page.search-portal-page .search-tool {
  margin-bottom: 50px;
}
