/* LESS variables
 * ------------------------------------------------------------------------- */
/* colors */
/* Logo and accent colors */
/* fonts */
/* Specific variables. */
#nav {
  background: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  padding: 0;
  min-height: 0;
}
#nav a {
  color: #444;
  display: inline-block;
  font-family: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  width: 100%;
}
#nav ul {
  margin-bottom: 0;
}
#nav li {
  /* This is to ensure the nav doesn't bump down on hover. */
  border-bottom: 2px solid #f9f9f9;
  padding: 8px;
}
#nav li a {
  font-size: 18px;
  padding: 0;
}
#nav li a:focus {
  background-color: #f9f9f9;
}
#nav li:hover {
  border-bottom: 2px solid #dddddd;
}
#nav li .subnav {
  background-color: #dddddd;
  border: none;
  margin: 0;
  padding: 0;
}
#nav li .subnav li {
  border-bottom: none;
  padding: 5px 10px;
}
#nav li .subnav li a {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}
#nav li .subnav li a:hover {
  background-color: #f9f9f9 !important;
}
#nav li .subnav li:hover {
  background-color: #f9f9f9;
  border-bottom: none;
}
#nav .navbar-right a {
  /* This is scaled to fit with links on the left side.
             * Don't change this height without confirming that the bottom
             * border is still flush.
             */
  font-size: 16px;
}
#brand {
  padding-top: 15px;
}
#brand #logo {
  font-family: 'Archivo Narrow', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: uppercase;
  line-height: 2em;
}
#brand #logo #dcic-title {
  float: left;
  padding: 0 0 0 15px;
}
#brand #logo img {
  float: left;
  /*display: block;
            margin: 0 auto;*/
  max-width: 160px;
  padding-bottom: 10px;
}
#brand #logo a {
  text-decoration: none;
}
#brand #logo a:hover,
#brand #logo a:visited {
  text-decoration: none;
}
#brand #logo span#lincs-title-top {
  color: #808080;
  display: block;
  font-size: 20px;
  font-weight: normal;
}
#brand #logo span#lincs-title-bottom {
  color: #000000;
  font-size: 24px;
}
/* Override Bootstrap default */
.navbar {
  margin-bottom: 5px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-right {
  margin-right: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover:hover,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:hover:active,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover:focus,
.navbar-default .navbar-toggle:focus {
  background: #09505b;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
