/*.aNewsDiv{
	max-height:40px;
}*/




.research-gate:hover,
.research-gate:focus,
.research-gate:active,
.research-gate.active,
.open > 
.dropdown-toggle.research-gate{
	opacity:0.8;
	}

.btn-youtube{
	color:#fff;
	background-color:
	#cd201f;
	border-color:rgba(0,0,0,0.2)
}
.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open > .dropdown-toggle.btn-youtube {
	color:#fff;background-color:#b31217;
	border-color:rgba(0,0,0,0.2)
}
.btn-youtube:active,
.btn-youtube.active,
.open>.dropdown-toggle.btn-youtube{
	background-image:none
}
.btn-youtube.disabled,
.btn-youtube[disabled],
fieldset[disabled] .btn-youtube,
.btn-youtube.disabled:hover,
.btn-youtube[disabled]:hover,
fieldset[disabled] .btn-youtube:hover,
.btn-youtube.disabled:focus,
.btn-youtube[disabled]:focus,
fieldset[disabled] .btn-youtube:focus,
.btn-youtube.disabled:active,
.btn-youtube[disabled]:active,
fieldset[disabled] .btn-youtube:active,
.btn-youtube.disabled.active,
.btn-youtube[disabled].active,
fieldset[disabled] .btn-youtube.active {
	background-color:#3b5998;
	border-color:rgba(0,0,0,0.2)
}
.btn-youtube .badge{
	color:#cd201f;background-color:#fff
}
