/* Quick access tools */
.category-page.direct-access-tools-page .tools-summary img {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 30px;
}

.category-page.direct-access-tools-page .tools ul li:before {
  content: '';
}

/* Direct access tool common styling */
div.tool {
  font-size: 12px;
}
div.tool form {
  text-align: center;
}
div.tool .tool-title a {
  color: black;
}
div.tool .tool-title a:hover {
  color: black;
  opacity: .75;
  text-decoration: none;
}
div.tool input,
div.tool textarea {
  border: 1px solid #dddddd;
  /*font-size: x-small;*/
  font-weight: normal;
  /*color: grey;*/
  /*background-color: blue;*/
  border: 1px solid #dddddd;
  width: 100%;
  padding: 5px;
  box-shadow: none;
  resize: none;
}

div.tool textarea {
  height: 150px;
}

div.tool .tool-title {
  font-size: 20px;
}

div.tool .row.tool-header {
  margin-bottom: 5px;
}

div.tool hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Specific tool styling */
/* multiline text area styling. TODO: move to general tool style */
div.tool .textarea-wrapper {
  float: left;
  width: 48%;
}
div.tool .textarea-wrapper textarea {
  /*height: 100px;*/
  padding: 2px;
  width: 100%;
  resize: none;
}
div.tool .introduction {
  margin-bottom: 50px;
}
div.tool #slicr {
  /* Qiaonan uses tags input. */
}
div.tool #slicr input {
  border: none;
}
div.tool tags-input .host {
  margin-bottom: 0;
}

/* general buttons */
div.tool img {
  height: 26px;
  /*margin-right: 2px;*/
}

div.tool button {
  margin: 5px 0;
  padding: 3px;
  /* not selection outline */
  outline: none;
  border-radius: 2px;
}
div.tool a.btn {
  margin: 5px 0;
  padding: 3px;
  /* not selection outline */
  outline: none;
  border-radius: 2px;
}
div.tool div.action  {
  padding-left: 0;
}
div.tool div.action button {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 1px;
  padding: 0;
}
div.tool div.action button {
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

   /*3px 5px no-repeat;*/
  background-color: white;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

/* dropdown menu list without images */
div.tool ul.dropdown-menu li:before {
  content: none;
}

/* for youtube video embedding */
div.tool iframe {
  width: 100%;
  max-width: 320px;
}

/* MODE SELECTION BUTTONS AND ASSOCIATED TEXT */
div.tool div.action button:hover {
  opacity: 1.0;
  /*-webkit-filter: invert(1);*/
  /*filter: invert(1);*/
}

div.tool div.action button.selected {
  opacity: 1.0;
  /*background-color: rgb(179,205,227);*/
  /*outline: 1px solid rgb(5,112,176);*/
}

div.tool div.action button.functionality-button.selected {
  background-color: rgb(204,235,197);
}

div.tool div.action button.content-button.selected {
  background-color: rgb(179,205,227);
}

div.tool p.functionality-description:empty {
  border-style: none;
  padding: 0;
}

div.tool p.data-content-description:empty {
  border-style: none;
  padding: 0;
}

div.tool p.functionality-description {
  background-color: rgba(204,235,197,0.5);
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: rgb(204,235,197);*/
  /*border-collapse: collapse;*/
  /*border-radius: 2px;*/
  padding: 10px 5px;
}

div.tool p.data-content-description {
  background-color: rgba(179,205,227,0.5);
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: rgb(179,205,227);*/
  /*border-collapse: collapse;*/
  /*border-radius: 2px;*/
  padding: 10px 5px;
}

/*div.tool div.action button.hint:hover*/
div.tool div.action button.search {
  background-image: url(/images/concierge-icons/find_solid.svg);
}

div.tool div.action button.analysis {
  background-image: url(/images/concierge-icons/stacked.svg);
}

div.tool div.action button.api {
  background-image: url(/images/concierge-icons/web2.svg);
}

div.tool div.action button.navigation {
  background-image: url(/images/concierge-icons/compass.svg);
}

div.tool div.action button.download {
  background-image: url(/images/concierge-icons/download168.svg);
}

div.tool div.action button.cells {
  background-image: url(/images/concierge-icons/cell1.svg);
}

div.tool div.action button.drugs {
  background-image: url(/images/concierge-icons/chemistry43.svg);
}

div.tool div.action button.genetics {
  background-image: url(/images/concierge-icons/dna17.svg);
}

div.tool div.action button.assays {
  background-image: url(/images/concierge-icons/lab2.svg);
}
/* External data */
div.tool div.action button.external {
  background-image: url(/images/concierge-icons/data110.svg);
}

div.tool div.action button.education {
  background-image: url(/images/concierge-icons/education.svg);
}

div.tool div.action button.collaboration {
  background-image: url(/images/concierge-icons/social-network12.svg);
}

div.tool div.action button.integration {
  background-image: url(/images/concierge-icons/integration.svg);
}

div.tool div.action button.publication {
  background-image: url(/images/concierge-icons/text70.svg);
}

div.category-selector {
  padding-bottom: 10px;
}

/* button modification for legend */
div.tool div.action div.category-selector button {
  width: 24px;
  height: 24px;
}

img.img-selector {
  cursor: pointer;
  /*opacity: 0.5;*/
}

/* For greying out text */
.muted {
  color: rgb(150, 150, 150);
}

.muted2 {
  color: rgb(80, 80, 80);
}


p.hand-written {
  font: 400 24px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-align: center;
}
.panel {
  border-style: solid;
  /*border-color: rgb(230,230,230);*/
  border-color: rgb(235,235,235);
  padding: 5px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
}

.center-logo {
  max-height: 30px;
  max-width: 140px;
}

/* bootstrip fix. Words for .col-sm-6 classes only.*/
.col-sm-6:nth-child(2n+1){
    clear: left;
}

.col-sm-4:nth-child(3n+1){
    clear: left;
}