<div id="carousel" class="carousel slide" data-ride="carousel" ng-controller="carouselCtrl">
    <!-- indicators - buttons that allow you to select different slides -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" ng-repeat="slide in slides" class="{active : $first}" data-slide-to="{{slide.index}}"></li>
    </ol>

    <!-- Main carousel -->
    <div class="carousel-inner" role="listbox">
        <div ng-class="{item: true, active : $first}" ng-repeat="slide in slides">
            <div>
                <a href="{{slide.link}}" target="{{slide.target}}">
                    <img ng-src="{{slide.image}}">
                </a>
            </div>
            <div class="container">
                <div class="carousel-caption-custom {{slide.styleClass}}">
                    <div class="caption-title-block">
                        <h4>
                            <a href="{{slide.link}}" target="{{slide.target}}">{{slide.title}} &raquo;</a>
                        </h4>
                    </div>
                    <p class="caption-text">{{slide.caption}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
