<div ng-controller="calendarCtrl" id="calendar" class="col-md-6">
    <h2>Events</h2>
    <section>
        <h3>Upcoming</h3>
        <div ng-repeat="event in events.upcoming | limitTo:4" class="event">
            <a href="{{event.link}}" class="title" target="_blank">{{event.title}}</a>
            <div class="time"><strong>{{event.month}} {{event.day}}</strong> {{event.startTime}}</div>
        </div>
    </section>
    <section>
        <h3>Past</h3>
        <div ng-repeat="event in events.past" class="event">
            <a href="{{event.link}}" class="title" target="_blank">{{event.title}}</a>
            <div class="time"><strong>{{event.month}} {{event.day}}</strong> {{event.startTime}}</div>
        </div>
    </section>
</div>