<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Funding</h4>
                <ul>
                    <li>
                        <a href="https://datascience.nih.gov/bd2k" target="_blank">NIH Big Data to Knowledge (BD2K)</a>
                    </li>
                    <li>
                        <a href="http://commonfund.nih.gov/" target="_blank">NIH Common Fund</a>
                    </li>
                    <li>
                        <a href="http://commonfund.nih.gov/LINCS/index" target="_blank">NIH LINCS Program</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Apply</h4>
                <ul>
                    <li>
                        <a href="/summer-research-app#nav">Summer Research Program</a>
                    </li>
                    <li>
                        <a href="/edsr#nav">External Data Science Research</a>
                    </li>
                    <li>
                        <a href="/jobs#nav">Job Opportunities</a>
                    </li>
                </ul>
            </div>
            <div id="social" class="col-md-3">
                <h4>Follow</h4>
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/BD2KLINCSDCIC" target="_blank" class="btn btn-social-icon btn-sm btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/groups/BD2K-LINCS-DCIC-8215448?home=&gid=8215448" target="_blank" class="btn btn-social-icon btn-sm btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/channel/UC88h_MIO1LP7Jv52VQ4qKkg" target="_blank" class="btn btn-social-icon btn-sm btn-youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.google.com/+BD2KLINCSDCIC" target="_blank" class="btn btn-sm btn-social-icon btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.researchgate.net/institution/BD2K-LINCS_Data_Coordination_and_Integration_Center" target="_blank" class="btn research-gate">
                            <img src="images/social/research-gate.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact</h4>
                <p>
                    <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a>
                </p>
            </div>
        </div>
    </div>
</div>
