<div id="footer">
    <div id="org-logos">
        <div class="container text-center">
            <div class="row">
                <a href="http://bd2k.nih.gov/" target="_blank">
                    <img src="images/org-logos/nih-bd2k.png" />
                </a>
                <a href="http://commonfund.nih.gov/" target="_blank">
                    <img src="images/org-logos/nih-common-fund.jpg" />
                </a>
                <a href="http://commonfund.nih.gov/LINCS/index" target="_blank">
                    <img src="images/org-logos/nih-lincs.png" />
                </a>
                <a href="http://www.lincsproject.org/" target="_blank">
                    <img src="images/org-logos/nih-lincs-project.jpg" />
                </a>
            </div>
        </div>
    </div>
    <div id="extra">
        <div class="container text-center">
            <ul class="row list-inline">
                <li><a href="#/eDSR">Open Call for Data Science Research Projects</a></li>
                <li><a href="#/jobs">Job Opportunities</a></li>
            </ul>
            <p class="row">
                This work is supported by NIH grant
                <a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8825168&icde=22649457&ddparam=&ddvalue=&ddsub=&cr=9&csb=default&cs=ASC" target="_blank">U54CA189201</a>.
            </p>
        </div>
    </div>
</div>
