<div id="header">
    <div class="container">
        <div class="row navbar navbar-default">
            <div id="brand" class="navbar-header col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="logo" class="text-center">
                    <a href="/#/">
                        <img id="lincs-logo" alt="BD2K-LINCS DCIC" src="images/dcic-logo/dcic-logo_800x800.png" class="img-responsive">
                    </a>
                    <a href="/#/">
                        <span id="lincs-title-top">BD2K-LINCS</span>
                        <span id="lincs-title-bottom">Data Coordination and<br> Integration Center</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="subnav">
        <div class="container">
            <div class="row">
                <div ng-controller="subnavCtrl" class="col-md-12">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="cat in categories">
                            <a href="{{cat.url}}">{{cat.title}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="cat in categoriesRight">
                            <a href="{{cat.url}}" target="{{cat.target}}">{{cat.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
