<div id="header">
    <div id="nav" class="navbar navbar-default">
        <div class="container-fluid">

            <!-- This is the dropdown button for the mobile version of the site -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div ng-controller="navCtrl" id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="cat in categories" class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <a data-toggle="dropdown" href="{{cat.url}}">{{cat.title}}</a>
                        <ul ng-if="cat.subnav" class="dropdown-menu subnav">
                            <li ng-repeat="subcat in cat.subnav">
                                <a href="{{subcat.url}}" target="{{subcat.target}}">{{subcat.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="cat in categoriesRight">
                        <a href="{{cat.url}}" target="{{cat.target}}">{{cat.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="brand" class="container">
        <div class="row navbar navbar-default">
            <div class="navbar-header col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="logo">
                    <a href="#/">
                        <img id="lincs-logo" alt="BD2K-LINCS DCIC" src="images/dcic-logo/DCIC_500x375_cropped.png" class="img-responsive">
                    </a>
                    <div id="dcic-title">
                        <a href="#/">
                            <span id="lincs-title-top">BD2K-LINCS</span>
                            <span id="lincs-title-bottom">Data Coordination and<br> Integration Center</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
