<div id="header">
    <div id="subnav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div ng-controller="subnavCtrl" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="cat in categories">
                        <a href="{{cat.url}}">{{cat.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="cat in categoriesRight">
                        <a href="{{cat.url}}" target="{{cat.target}}">{{cat.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="brand" class="container">
        <div class="row navbar navbar-default">
            <div class="navbar-header col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="logo">
                    <a href="#/">
                        <img id="lincs-logo" alt="BD2K-LINCS DCIC" src="images/dcic-logo/DCIC_FINAL_2015.01.19-expanded-500x375 copy.png" class="img-responsive">
                    </a>
                    <div id="dcic-title">
                        <a href="#/">
                            <span id="lincs-title-top">BD2K-LINCS</span>
                            <span id="lincs-title-bottom">Data Coordination and<br> Integration Center</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
