<div id="intro" class="row" class="category-page" ng-controller="introCtrl">
    <h2 class="col-md-12">About BD2K-LINCS DCIC</h2>
    <div class="col-md-8">
        <p ng-bind-html="introText"></p>
        <div id="sections">
            <div ng-repeat="section in sections" class="section">
                <!-- TODO: fill out this image -->
                <img src="{{section.image}}" class="img-responsive">
                <div class="text">
                    <h3>{{section.title}}</h3>
                    <p ng-bind-html="section.text"></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div ng-include="'view/partial/tools-nav.html'"></div>
</div>
