<div ng-controller="newsCtrl" id="news" class="col-md-6">
    <h2>News</h2>
    <div ng-repeat="link in stories" class="newsStory" ng-class="{first:$first}">
        <img ng-if="$first" src="http://placehold.it/150x150">
        <div class="details">
            <a href="{{link.url}}" target="_blank" ng-class="{first:$first}" class="title">{{link.title}}</a>
            <p><strong>{{link.source}}</strong></p>
            <p><em>{{link.date}}</em></p>
            <p ng-if="$first">{{link.mainText}}</p>
        </div>
        <div ng-if="$first" class="clear"></div>
    </div>
</div>
