<!-- Quick start -->
<div id="quick-start">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Quick Start with LINCS Tools and Apps <span style="font-size: 18px;" class="glyphicon glyphicon-question-sign"
                    uib-popover-template="'view/partial/quick-start-description.html'"
                    popover-trigger="mouseenter"
                    popover-placement="bottom"></span>
            </h1>

        </div>
    </div>
    <div ng-controller="DirectAccessToolsCtrl">
        <div class="row">
            <div class="col-sm-4">
                <h4>Search L1000 Signatures</h4>
                <tool tool-data="findTool('L1000CDS<sup>2</sup>')" tool-mode="" tool-buttons="none"></tool>
                <h4>Cross-tool Examples</h4>
                <!-- the up/down signature was taked from http://amp.pharm.mssm.edu/CREEDS/#downloads, first 20 -->
                <a href="" ng-click="
                    typeSearch('Imatinib');
                    typeUpGenes(
                        'ALAS2','HBZ','LBH','COL18A1','GYPB','PPOX','SLC4A1','AQP1','RELN','GYPA','TSC22D1','SLC25A37','KEL','OAT','SLC22A4','HMBS','AHSP','SLC30A10','FECH','XK'
                    );
                    typeDownGenes(
                        'TMEM158','SLC2A3','HHEX','SAMSN1','IGFBP4','ID1','FCGR2A','MLLT11','FAM216A','PKM','CD69','SLC2A14','NQO2','EGR1','SLC39A14','GABRE','SOCS2','CMTM6','PRKCB','WARS','SLC25A32'    
                    );
                    ">
                    Imatinib</a>,
                <a href="" ng-click="typeSearch('Ruxolitinib')">Ruxolitinib</a>,
                <a href="" ng-click="typeSearch('MCF7')">MCF7</a>,
                <a href="" ng-click="typeSearch('RNA-seq')">RNA-seq</a>,
                <a href="" ng-click="typeSearch('shRNA')">shRNA</a>,
                <a href="" ng-click="typeSearch('Phosphorylation')">Phosphorylation</a>

                <h4><a class="ng-binding" href="#/getting-started/direct-access-tools">More tools...</a></h4>
            </div>
            <div class="col-sm-8">
                <div class="row row-eq-height">
                    <div class="col-sm-6">
                        <h4>Access All Data</h4>
                        <!-- <label> -->
                            <!-- Access Data -->
                        <tool tool-data="findTool('LINCS Data Portal')" tool-mode="" tool-buttons="none"></tool>
                        <!-- </label> -->
                    </div>
                    <div class="col-sm-6">
                        <h4>Search L1000 Metadata</h4>
                        <tool tool-data="findTool('Slicr')" tool-mode="" tool-buttons="none"></tool>
                    </div>
                </div>

                <div class="row row-eq-height">
                    <div class="col-sm-6">
                        <h4>Analyze LINCS Data</h4>
                        <tool tool-data="findTool('iLINCS')" tool-mode="" tool-buttons="none"></tool>
                    </div>

                    <div class="col-sm-6">
                        <h4>Visualize and Access LINCS Proteomics Data</h4>
                        <tool tool-data="findTool('piLINCS')" tool-mode="" tool-buttons="none"></tool>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <h4>API Access to L1000 Data</h4>
                <tool tool-data="findTool('lincscloud')" tool-buttons="none"></tool>
            </div>


            <div class="col-sm-4">
                <h4>Explore HMS Center-Specific Data</h4>
                <tool tool-data="findTool('HMS LINCS Database')" tool-buttons="none"></tool>
            </div>

            <div class="col-sm-4">
                <h4>Find Knowledge About Genes and Proteins</h4>
                <tool tool-data="findTool('Harmonizome')" tool-buttons="none"></tool>
            </div>

        </div>
    </div>

</div>
