<p><b>A collection of common LINCS tools</b> providing access to various aspects of the LINCS data and software tools.</p>

<p>Lists of up- and down-regulated genes can be <b>analyzed in context</b> of the L1000 gene expression dataset. More broadly, LINCS data can be <b>explored</b> using standard statistical analyses or data visualizations.</p>

<p>Data from multiple high-throughput assays on the perturbational effects of experimental conditions, such as particular cell lines and small-molecules, can be queried using <b>text-based searches</b> across multiple tools.</p>

<p>Once data of interest is found, it can be downloaded or analyzed in a user-friendly and <b>web-based environment</b>.</p>