<p>This is a <b>collection of the mostly used LINCS tools and apps</b>.</p>

<p><b>L1000CDS2</b>: with the L1000CDS2 you can query a subset of the L1000 data to identify small molecules that can reverse or mimic gene expression from your own studies.</p>

<p><b>LINCS Data Portal</b>: with this data portal you can obtain all existing LINCS released datasets as packages containing data and its associated metadata.</p>

<p><b>Slicr</b>: provides a digested form of the L1000 data that is available on NCBI-GEO. Using Slicr you can obtain collections of signatures for specific conditions with downstream enrichment analyses.<p>

<p><b>iLINCS</b>: is an integrated platform for exploring LINCS datasets through various workflows that convert the data tables into an array of customizable visualizations.<p>

<p><b>piLINCS</b>: consolidates and serves all LINCS proteomics datasets for integrative analyses.<p>

<p><b>lincscloud API</b>: provides programmatic access to all available L1000 metadata.<p>

<p><b>HMS LINCS Database</b>: is a comprehensive resource from the Harvard Medical School LINCS Center enlisting all their datasets and tools.<p>

<p><b>Harmonizome</b>: this BD2K-LINCS DCIC resource consolidates knowledge from over 60 resources about the functions of human genes and proteins. Data is served in a highly processed and standardized form.<p>

<p><b>Cross-Tool Examples</b>: by clicking on the hyperlinked cross-tool examples the terms will populate the various input boxes across all relevant tools for demonstration purposes.</p>