<div ng-controller="teamCtrl" id="team">
    <div class="row">
        <h2 class="col-md-12">TEAM</h2>
        <h3 class="col-md-12">Principal Investigators</h3>
        <div ng-repeat="person in principalInvestigators" class="col-md-4 pi">
            <img src="images/portraits/{{person.portrait}}" class="contact-pi-logo">
            <div class="contact-pi-desc">
                <div>
                    <strong>
                        <a href="{{person.website}}" target="_blank">{{person.name}}</a>
                    </strong>
                </div>
                <div>{{person.position}}</div>
                <div>{{person.affiliation}}</div>
                <div><u>{{person.email}}</u></div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="col-md-12">Investigators of Data Science Research Projects</h3>
        <div ng-repeat="person in investigators" class="col-md-4">
            <div><strong>{{person.name}}</strong></div>
            <div>{{person.affiliation}}</div>
            <div><u>{{person.email}}</u></div>
        </div>
    </div>
    <div class="row">
        <h3 class="col-md-12">Research Staff</h3>
        <div class="col-md-4">
            <div ng-repeat="person in icahn | orderBy:'lastName'" class="person">
                <div><strong>{{person.firstName}} {{person.lastName}}</strong></div>
                <div><u>{{person.email}}</u></div>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-repeat="person in cincinnati | orderBy:'lastName'" class="person">
                <div><strong>{{person.firstName}} {{person.lastName}}</strong></div>
                <div><u>{{person.email}}</u></div>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-repeat="person in miami | orderBy:'lastName'" class="person">
                <div><strong>{{person.firstName}} {{person.lastName}}</strong></div>
                <div><u>{{person.email}}</u></div>
            </div>
        </div>
    </div>
</div>
