<div ng-controller="teamCtrl" id="team">
    <div class="row">
        <h2 class="col-md-12">TEAM</h2>
        <h3 class="col-md-12">Principal Investigators</h3>
        <div ng-repeat="person in principalInvestigators" class="col-md-4 pi">
            <img ng-src="images/portraits/{{person.portrait}}" class="contact-pi-logo">
            <div class="contact-pi-desc">
                <div>
                    <strong>
                        <a href="{{person.website}}" target="_blank">{{person.name}}</a>
                    </strong>
                </div>
                <div>{{person.position}}</div>
                <div>{{person.affiliation}}</div>
                <div><u>{{person.email}}</u></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3 class="col-md-12">DCIC Research Team</h3>
    </div>
    <div ng-repeat="group in groups" class="row">
        <h4 class="col-md-12">{{group.name}}</h4>
        <div ng-repeat="person in group.members | orderBy:'lastName'" class="person col-md-4">
            <div><strong>{{person.firstName}} {{person.lastName}}</strong></div>
            <div><u>{{person.email}}</u></div>
        </div>
    </div>
</div>
