<div ng-controller="toolsCtrl" id="tools">
    <div class="col-md-8">
        <h3>Tools and Apps</h3>
        <p ng-bind-html="introText"></p>
        <div id="sections">
            <div ng-repeat="section in tools" class="section">
                <img ng-src="{{section.image}}" class="img-responsive">
                <div class="text">
                    <h3>{{section.title}}</h3>
                    <p><em>{{section.shortDesc}}</em></p>
                    <p>{{section.description}}</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
