<div class="col-md-4 right-nav">
    <img ng-src="http://placehold.it/300x150" class="img-responsive"/>
    <br>
    <div>
        <h4>Gene Signature Analysis</h4>
        <ul>
            <li>
                <a href="#/analyze">Submit your gene signatures for analysis</a>
            </li>
        </ul>
    </div>
    <div ng-controller="toolsCtrl">
        <h4>Tools & Apps</h4>
        <ul>
            <li ng-repeat="tool in tools">
                <a href="{{tool.url}}" target="{{tool.target}}">{{tool.title}}</a>
            </li>
        </ul>
    </div>
</div>
