<div class="category-index" id="community">
	<h4>Community</h4>
	<div>
		<div ng-controller="communityCtrl" >
			<ul>
				<li ng-repeat="link in entries">
                <a href="{{link.url}}" target="{{link.target}}"><em class='important'>{{link.highlight}}</em>{{link.title}}</a>
				</li>
			</ul>
		</div>
		<div>
			<a class="twitter-timeline" href="https://twitter.com/BD2KLINCSDCIC" data-widget-id="540278089990029312">Tweets by @BD2KLINCSDCIC</a>
		</div>
		<div ng-controller="emailCtrl">
			<div class="submitted" ng-show="submitted">Submitted!</div>
			<div>Join our mailing list:</div>
			<input placeholder="your email address" type="email" ng-model="email"><button ng-click="submit()">Submit</button>
		</div>
	</div>
</div>
