<div id="calendar" class="category-index" ng-controller="calendarCtrl">
    <h4><a href="#/events">Events &raquo;</a></h4>
    <div ng-repeat="event in events | limitTo:2" class="event">
        <div>
            <span class="date">{{event.month}} {{event.day}}</span>
            <span class="startTime">{{event.startTime}}</span>
        </div>
        <div class="details">
            <div class="title">
                <a href="{{event.link}}" target="_blank">{{event.title}}</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
