<div class="category-index" id="introduction">
	<h4><a href="#/introduction">Welcome &raquo;</a></h4>
    <!--<a href="#/introduction"><img class="img-responsive" src="images/intro/pipeline.png" /></a>-->
    <p>The BD2K-LINCS Data Coordination and Integration Center is part of the <a href="http://bd2k.nih.gov/#sthash.4dtjxmNs.dpbs" target="_blank">Big Data to Knowledge</a> (BD2K) NIH initiative, and it is the data coordination center for the <a href="http://commonfund.nih.gov/" target="_blank">NIH Common Fund</a>'s <a href="http://www.lincsproject.org/" target="_blank">Library of Integrated Network-based Cellular Signatures</a> (LINCS) program, which aims to characterize how a variety of human cells, tissues, and the entire organism respond to perturbations by drugs and other molecular factors. 
    </p>
</div>
