<div class="category-index" id="news" ng-controller="newsCtrl">
	<h4><a href="#/news">News &raquo;</a></h4>
	<table class="content table">
		<tr ng-repeat="link in entries | limitTo:2">
			<td ng-class="{first : $first}">
                <a href="{{link.url}}" target="{{link.target}}">
                    <img ng-src="images/news/{{link.image}}" />
                </a>
            </td>
			<td ng-class="{first : $first}">
                <p class="title">{{link.date}}</p>
                <a href="{{link.url}}" target="{{link.target}}">{{link.title}}</a>
            </td>
		</tr>
	</table>
</div>
