<div ng-controller="externalDsrpCtrl" class="container">
    <div id="internal-dsrp" class="row category-page">
        <div class="col-md-12">
            <h2>External DSR Ongoing Projects</h2>
            <ul>
                <li>
                    <a href="#/edsr#nav">Request for Applications</a>
                </li>
                <li>
                    <a href="#/internal-dsrp#nav">Internal Data Science Research Projects</a>
                </li>
        </div>
        <section ng-repeat="lab in labs">
            <h3 class="col-md-8">{{lab.name}}</h3>
            <div ng-repeat="project in lab.projects">
                <h4 class="col-md-8">{{project.title}}</h4>
                <p class="col-md-8">{{project.text}}</p>
                <div class="col-md-4">
                    <div ng-if="project.image">
                        <img ng-src="{{project.image}}"/>
                        <p class="caption">{{project.caption}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>