<div id="introduction" class="row category-page">
	<div class="col-md-8">
		<h3>The Big Data to Knowledge (BD2K) Library of Integrated Network-based Cellular Signatures (LINCS) Data Coordination and Integration Center (DCIC)</h3>
		<p>The BD2K-LINCS Data Coordination and Integration Center is part of the <a href="http://bd2k.nih.gov/#sthash.4dtjxmNs.dpbs" target="_blank">Big Data to Knowledge</a> (BD2K) NIH initiative, and it is the data coordination center for the <a href="http://commonfund.nih.gov/" target="_blank">NIH Common Fund</a>'s <a href="http://www.lincsproject.org/" target="_blank">Library of Integrated Network-based Cellular Signatures</a> (LINCS) program, which aims to characterize how a variety of human cell types of cells, tissues and the entire organism respond to perturbations by drugs and other molecular factors. See figure demonstrating the overall data flow of the LINCS project.</p>
		<p>The BD2K-LINCS DCIC has four major components:</p>
		<ol>
			<li>Integrated Knowledge Environment (IKE). The DCIC is constructing a high-capacity, scalable IKE enabling federated access, intuitive querying, and integrative analysis and visualization across all LINCS resources together with many additional external data from other relevant resources.</li>
			<li>Data Science Research (DSR). The DCIC is conducting several internal research projects, and supporting and collaborating with several external DSR projects, addressing various data integration and intracellular molecular regulatory network challenges.</li>
			<li>Community Training and Outreach (CTO). The CTO efforts are establishing several educational programs, including a <a href="" target="_blank">LINCS Massive Open Online Course</a> and a <a href="#/education/summerresearch" target="_blank">summer undergraduate research program</a>. In addition, the BD2K-LINCS DCIC CTO is initiating and supporting diverse and collaborative projects that leverage LINCS resources and disseminate LINCS data and tools.</li>
			<li>Consortium Coordination and Administration (CCA). The CCA supports and manages the DCIC goals and deliverables and coordinates activities across the LINCS and BD2K programs. See map showing the locations with link of the BD2K and LINCS centers.</li>
		</ol>
		<p>The DCIC brings together a proven team of computational experts with several years of experience with LINCS data and complementary expertise: Drs. <a href="http://www.mountsinai.org/profiles/avi-maayan" target="_blank">Ma'ayan</a>, <a href="http://ccs.miami.edu/?p=1103" target="_blank">Schurer</a>, and <a href="http://www.eh3.uc.edu/people/MarioM.html" target="_blank">Medvedovic</a> are the principle investigators of the BD2K-LINCS DCIC. Together with their laboratory members they will develop and deploy a next generation computational infrastructure, develop novel analysis tools and methods enabling researchers to glean new insights from integrative models of biological systems to link complex diseases/phenotypes with drugs and the pathways that those drugs target in different cells and tissues. The project will play a key role to transform and accelerate the discovery of novel therapeutics and improve our understanding of the regulatory networks within the human cell.</p>
		<p>The BD2K-LINCS DCIC is co-funded by the NIH Common Fund U54 mechanism grant #U54HL127624.</p>
	</div>
	<div class="col-md-4">
		<div class="embed-responsive embed-responsive-4by3 top-buffer">
			<iframe class="embed-responsive-item" src="https://mapsengine.google.com/map/embed?mid=z784gTGvHS2g.kMUGJQDLSGU0"></iframe>
		</div>
		<ul class="top-buffer">
			<li><a href="http://bd2k.nih.gov/" target="_blank">NIH Big Data to Knowledge</a></li>
			<li><a href="http://commonfund.nih.gov/" target="_blank">NIH Common Fund</a></li>
			<li><a href="http://commonfund.nih.gov/LINCS/index" target="_blank">NIH Lincs</a></li>
			<li><a href="http://www.lincsproject.org/" target="_blank">NIH Lincs Project</a></li>
		</ul>
	</div>
</div>