<div class="category-page">
	<h3>Positions available</h3>
	<div>
		<div>
			<p><b>Summer Research Training Program in Biomedical Big Data Science</b></p>

			<p><em>Participate in cutting-edge research projects aimed at solving data-intensive biomedical problems!</em></p>

			<p><a href="/static_files/MSSM/Files/Research/Labs/Maayan Laboratory/dcic_summer_program.pdf" onclick="_gaq.push(['_trackEvent', 'PDF', 'Download', 'dcic_summer_program.pdf']);">Program Poster for Summer 2015</a></p>

			<p>The 2015 Summer Research Training Program in Biomedical Big Data Science sponsored by the <a href="http://www.lincsproject.org/centers/bd2k-lincs-dcic/">Big Data to Knowledge (BD2K) Data Coordination and Integration Center (DCIC) for the Library of Integrated Network-based Cellular Signatures (LINCS)</a> is a research intensive ten-week training program within the Ma'ayan Laboratory.&nbsp;The 2015 summer program dates are June 1 - August 7. Students will be awarded a $4000 stipend for the ten-week training period. The application deadline is March 2, 2015.</p>

			<p><em>Eligibility Requirements</em></p>

			<p>To be considered for this program, applicants must be:</p>

			<ul>
			<li>US citizens or permanent residents</li>

			<li>an undergraduate or master's student in good academic standing</li>
			</ul>

			<p><em>Who Should Apply?</em></p>

			<ul>
			<li>Students majoring in Computer Science, Informatics, Mathematics, Statistics, Physics, Engineering, Chemistry/Chemical Sciences and Biological Sciences who have an interest in Biomedical Big Data Science.</li>

			<li>Women and members of minority groups are strongly encouraged to apply.</li>
			</ul>

			<p>To apply, please complete the <a href="https://docs.google.com/forms/d/1_gQ7En4jgWBZeAuV0gzg2TmOpgm0EQTfPF3hHY2e-go/viewform">online application form</a> and e-mail your resume, letter of recommendation and an unofficial copy of your school transcripts in pdf format to: <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a></p>

			<p><b>Postdoctoral Research Fellow</b></p>

			<p>A full-time postdoctoral position is available to develop tools and algorithms for the analysis of large scale biological cellular regulatory networks using graph theory, machine learning, and other mathematical approaches.</p>

			<p>The candidate will be involved in multi-disciplinary multi-institute NIH funded projects that utilize Big Data analytics to develop better understanding about drug action in human cells, build molecular regulatory networks from high-content genome-wide data, and predict optimized therapeutics for individual patients across several complex diseases such as cancer, diabetes, and HIV.</p>

			<p>Candidates are required to have a recent PhD degree in one of the following: Biomedical Sciences, Bioinformatics, Computer Science, Mathematics, Statistics, Physics, Electrical or Systems Engineering and relevant experience with applications to biology and bioinformatics. &nbsp;Candidates should demonstrate strong programming skills with languages such as Python, Java, JavaScript, PHP and MATLAB. Salary will be commensurate with experience and is in addition to a benefits package.</p>

			<p>To apply, please e-mail your CV, research statement, and the names and contact information of three references to: <a href="mailto:jobs@lincs-dcic.org">jobs@lincs-dcic.org</a></p>

			<p><b>Software Engineer</b></p>

			<p>A full-time software engineering position is available, working on multi-disciplinary, multi-institute NIH funded projects that utilize Big Data analytics to develop better understanding about drug action in human cells, build molecular regulatory networks from high-content genome-wide data, and predict optimized therapeutics for individual patients across several complex diseases such as cancer, diabetes, and HIV.</p>

			<p>The successful candidate will collaborate with an interdisciplinary team on projects related to bioinformatics and systems biology including developing, implementing, documenting and maintaining software applications used by the larger scientific community. Project work would include, but not be limited to developing and maintaining search engines, data visualization apps, object oriented databases, automated bioinformatics workflows, and AI classifier systems.</p>

			<p>Required Skills: BS or MS in Computer Science, Engineering, or related fields of study; extensive knowledge of data structures and algorithms, i.e., graphs, trees, and hash tables; experience writing web-based and mobile applications; excellent analytical and problem-solving skills.</p>

			<p>Highly Desired Skills: Knowledge of molecular and cell biology; experience with bioinformatics projects; experience with artificial intelligence and machine learning methods; ability to write well; experience with multithread programming and coding for HPC; knowledge of Java, JavaScript, AJAX, Python, PHP and MySQL.<br>
			</p>

			<p>To apply, please e-mail your resume and the names and contact information of three references to: <a href="mailto:jobs@lincs-dcic.org">jobs@lincs-dcic.org</a></p>
		</div>

	</div>
</div>