<div class="container">
    <div class="category-page">
        <h2>Job Opportunities</h2>
        <div>
            <div>
                <p><h3 id="postdoctoral-positions">Postdoctoral Fellow, Computational Systems Biology and Big Data Science | New York, NY</h3></p>

                <p>A full-time postdoctoral position is available in the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="blank">Ma'ayan Laboratory of Computational Systems Biology</a> and the BD2K-LINCS Data Coordination and Integration Center at the <a href="http://icahn.mssm.edu/" target="blank">Icahn School of Medicine at Mount Sinai</a> in New York to develop tools and algorithms for the analysis of large scale biological data including genomics, proteomics and molecular and cellular imaging using advanced web development technologies, machine learning and other statistical approaches.</p>

                <p>The Ma'ayan Laboratory conducts multi-disciplinary NIH funded research that utilizes Big Data analytics to develop better understanding about drug action in human cells, build molecular regulatory networks from high-content genome-wide data, and predict optimized therapeutics for individual patients across several complex diseases.</p>

                <p>Candidates are required to have a recent PhD degree in one of the following: Biomedical Sciences, Bioinformatics, Computer Science, Mathematics, Statistics, Physics, Electrical or Systems Engineering and relevant experience with applications to biology and bioinformatics. Candidates should demonstrate strong programming skills with languages such as Python, Java, JavaScript, R and MATLAB.</p>

                <p>To apply, please e-mail your CV, research statement, and the names and contact information of three references to: <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a></p>

		
		<p><h3>Full Stack Software Developer, Computational Systems Biology and Big Data Science | New York, NY</h3></p>

                <p>A full-time software developer position is available in the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="blank">Ma'ayan Laboratory of Computational Systems Biology</a> and the BD2K-LINCS Data Coordination and Integration Center at the <a href="http://icahn.mssm.edu/" target="blank">Icahn School of Medicine at Mount Sinai</a> in New York. The Ma'ayan Laboratory conducts multi-disciplinary NIH funded research that utilizes Big Data analytics to develop better understanding about drug action in human cells, build molecular regulatory networks from high-content genome-wide data, and predict optimized therapeutics for individual patients across several complex diseases.</p>

                <p>The successful candidate will collaborate with an interdisciplinary team on projects related to Bioinformatics, Big Data Science, and Systems Biology including developing, implementing, documenting and maintaining web-based software applications used by the larger scientific community. Project work would include, but not be limited to developing and maintaining search engines, data visualization application, responsive mobile applications, object oriented databases, and automated bioinformatics workflows.</p>

                <p>Required Skills: BS or MS in Computer Science, or a related field of study; extensive knowledge of data structures and algorithms, i.e., graphs, trees, and hash tables; experience writing web-based and mobile applications; excellent analytical and problem-solving skills.</p>

                <p>Highly Desired Skills: Knowledge of molecular and cell biology; experience with bioinformatics projects; experience with artificial intelligence and machine learning methods; ability to write well; experience with multithread programming and coding for HPC; knowledge of Python, R, Java, JavaScript, Python, Node.JS, MongoDB and MySQL.</p>

                <p>To apply, please e-mail your resume and the names and contact information of three references to: <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a></p>
            </div>

        </div>
    </div>
</div>
