<div class="category-page">
	<h3>New PhD program in Biostatistics with an emphasis on Big Data Science</h3>

	<p>The biomedical research enterprise is increasingly becoming data-intensive and data-driven. Massive streams of data are being generated to interrogate biological systems and improve health care. Biomedical Big Data (BBD) is characterized by high dimensionality, complexity and diversity. It has become abundantly clear that effective statistical methodologies are essential for processing, analyzing and mining BBD. The Big Data Biostatistics program aims to train the next generation of data scientists, addressing regional and national demands for experts in statistical methods for BBD analysis.</p>

	<p>The new track provides rigorous foundations in probability theory, statistics and computational sciences, combined with a broad knowledge of applications to biomedical research. The core curriculum consists of traditional Biostatistics coursework such as: Probability Theory, Mathematical Statistics, Linear Models and Multivariate Analysis; core computational competency coursework such as Design and Analysis of Algorithms, Database Design and Programming; and biomedical research oriented coursework such as: Functional Genomics, Bioinformatics, and Medical Informatics.</p>

	<p>For more information please visit <a href="http://eh.uc.edu/" target="_blank">http://eh.uc.edu</a>.</p>
</div>