<div ng-controller="publicationsCtrl" id="publications" class="category-page">
	<h3>Publications</h3>
	<strong>2014</strong>
	<ul class="content">
		<li ng-repeat="pub in entries" ng-if="pub.year == '2014'">
			<em><a href="{{pub.url}}" target="_blank">{{pub.title}}</a></em><span>. {{pub.citation}}. {{pub.year}}.</span>
		</li>
	</ul>
	<strong>2013</strong>
	<ul class="content">
		<li ng-repeat="pub in entries" ng-if="pub.year == '2013'">
			<em><a href="{{pub.url}}" target="_blank">{{pub.title}}</a></em><span>. {{pub.citation}}. {{pub.year}}.</span>
		</li>
	</ul>
</div>