<div id="srp" class="row category-page">
	<h2 class="col-md-12">Summer Research Training Program in Biomedical Big Data Science</h2>
	<div class="col-md-8">
		<p>The 2015 Summer Research Training Program in Biomedical Big Data Science sponsored by the Big Data to Knowledge (BD2K) Data Coordination and Integration Center (DCIC) for the Library of Integrated Network-based Cellular Signatures (LINCS) is a <strong>research intensive ten-week training program</strong> offered at six sites affiliated with our NIH-funded BD2K Center:</p>
		<ul>
			<li>New York, NY: Icahn School of Medicine at Mount Sinai, <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">Ma'ayan Laboratory of Computational Systems Biology</a></li>
			<li>Cincinnati, OH: University of Cincinnati, <a href="http://eh3.uc.edu/" target="_blank">Medvedovic Laboratory for Statistical Genomics and Systems Biology</a></li>
			<li>Miami, FL: University of Miami, <a href="http://ccs.miami.edu/?p=1103" target="_blank">Schurer / Center for Computational Science</a></li>
			<li>Tacoma, WA: University of Washington, <a href="http://faculty.washington.edu/kayee/" target="_blank">Yeung / Computational Systems Biology Group</a></li>
			<li>Pittsburgh, PA: Carnegie Mellon University, <a href="http://www.sb.cs.cmu.edu/" target="_blank">Bar-Joseph / Systems Biology Group</a></li>
			<li>Danvers, MA: Cell Signaling Technology, <a href="http://www.phosphosite.org/homeAction.do" target="_blank">Hornbeck / PhosphoSite and Bioinformatics Groups</a></li>
		</ul>
		<p>
			<div>
				<h4>Program Dates: June 1, 2015 - August 7, 2015</h4>
				<a href="static/dcic_summer_program.pdf" class="text-center" target="_blank">Download a PDF of the 2015 DCIC Summer Program Flyer</a>
			</div>
			<div>
				<h4>Eligibility</h4>
				<ul>
					<li>Applicants must be 1) a U.S. citizen or a U.S. permanent resident; 2) an undergraduate or master's student in good academic standing.</li>
					<li>Students must be willing to work a minimum of 40 hours per week and take part in all program activities (e.g., weekly meetings, enrichment lectures, poster sessions and presentations) in addition to their mentored research work.</li>
				</ul>
				<h4>Benefits</h4>
				<ul>
					<li>Direct research experience with projects aimed at solving data-intensive biomedical problems.</li>
					<li>Students awarded a $4000 stipend for the ten-week training period.</li>
					<li>Interaction with the Center's computational experts through weekly meetings, enrichment lectures, and the poster session.</li>
				</ul>
				<h4>Who Should Apply?</h4>
				<ul>
					<li>Students majoring in Computer Science, Informatics, Mathematics, Statistics, Physics, Engineering, Chemistry/Chemical Sciences and Biological Sciences who have an interest in Biomedical Big Data Science.</li>
					<li>Women and members of minority groups are strongly encouraged to apply.</li>
				</ul>
				<h4>How to Apply</h4>
				<ul>
					<li>Application Deadline: March 2, 2015 at 11:00PM Eastern Time</li>
					<li>Submit an <a href="https://docs.google.com/forms/d/1_gQ7En4jgWBZeAuV0gzg2TmOpgm0EQTfPF3hHY2e-go/viewform" target="_blank">online application form</a></li>
					<li>E-mail your resume, letter of recommendation and an unofficial copy of your school transcripts in PDF format to: <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a></li>
				</ul>
			</div>
		</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" ng-src="http://placehold.it/300x150"/>
	</div>
</div>
