<div class="container">
    <div id="summer-fellows-2017" class="row category-page" ng-controller="summerFellows2017Ctrl">
        <h2 class="col-md-12">2017 Summer Fellows</h2>
        <div class="col-md-8">
            <p>All of the 2017 BD2K-LINCS DCIC Summer Fellows conducted a faculty-mentored independent research project within the Ma'ayan Laboratory at the Icahn School of Medicine at Mount Sinai. Appointments were awarded on a competitive basis.</p>
	    <p><a href="https://www.youtube.com/playlist?list=PLfq4yYrYksViQ4DuwuNeI4dmlVTnIzyDy" target="_blank">Video summaries of the BD2K-LINCS DCIC 2017 Summer Research Projects</a></p>
	  <div class="sections">
                <h3>Undergraduate Fellows</h3>
                <div ng-repeat="fellow in fellows" ng-if="!fellow.highSchooler" class="section">
                    <img ng-src="{{fellow.image}}" class="img-responsive">
                    <div class="text">
                        <h4>{{fellow.name}}</h4>
                        <p>{{fellow.school}}</p>
                        <p class="project"><strong>{{fellow.project}}</strong></p>
                        <p>Lab: <a href="{{fellow.labLink}}" target="_blank">{{fellow.labName}}</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
          </div>
        <div class="col-md-4">
            <img class="img-responsive" ng-src="/images/general/team.png"/>
            <br>
            <ul>
		<li>
                    <a href="static/maayan_summer19_oct4v.pdf" class="text-center" target="_blank">2019 Program Flyer</a>
                </li>
                <li>
                    <a href="/#/summer-research-app#nav">Program Description and How to Apply</a>
                </li>
               	<li>
                    <a href="/#/summer-fellows-2018#nav">2018 Summer Fellows</a>
                </li>
                <li>
                    <a href="/#/summer-fellows-2016#nav">2016 Summer Fellows</a>
                </li>
                <li>
                    <a href="/#/summer-fellows-2015#nav">2015 Summer Fellows</a>
                </li>

            </ul>
        </div>
    </div>
</div>
