<div class="container">
    <div id="summer-fellows-2016" class="row category-page" ng-controller="summerFellows2016Ctrl">
        <h2 class="col-md-12">Summer Fellows 2016</h2>
        <div class="col-md-8">
            <p>All of the 2016 BD2K-LINCS DCIC Summer Fellows conducted a faculty-mentored independent research project within a research laboratory affiliated with the BD2K-LINCS Data Coordination and Integration Center. Fellowships were awarded on a competitive basis.</p>
	    <p><strong><a href="https://www.youtube.com/playlist?list=PLfq4yYrYksVj2KHXcd_-VMfCGH_GWVeg4">Video summaries of the BD2K-LINCS DCIC 2016 Summer Research Projects</a></strong></p>
	    <div class="sections">
                <h3>Undergraduate and Graduate Fellows</h3>
                <div ng-repeat="fellow in fellows" ng-if="!fellow.highSchooler" class="section">
                    <img ng-src="{{fellow.image}}" class="img-responsive">
                    <div class="text">
                        <h4>{{fellow.name}}</h4>
                        <p>{{fellow.school}}</p>
                        <p class="project"><strong>{{fellow.project}}</strong></p>
                        <p>Lab: <a href="{{fellow.labLink}}" target="_blank">{{fellow.labName}}</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <h3>High School Fellows</h3>
                <div ng-repeat="fellow in fellows" ng-if="fellow.highSchooler" class="section">
                    <img ng-src="{{fellow.image}}" class="img-responsive">
                    <div class="text">
                        <h4>{{fellow.name}}</h4>
                        <p>{{fellow.school}}</p>
                        <p class="project"><strong>{{fellow.project}}</strong></p>
                        <p>Lab: <a href="{{fellow.labLink}}" target="_blank">{{fellow.labName}}</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
          </div>
        <div class="col-md-4">
            <img class="img-responsive" ng-src="/images/general/team.png"/>
            <br>
            <ul>
                <li>
                    <a href="/#/summer-research-app#nav">Program Description and How to Apply</a>
                </li>
                <li>
                    <a href="static/dcic_summer17_oct25v.pdf" class="text-center" target="_blank">2017 Program Flyer</a>
                </li>
                <li>
                    <a href="/#/summer-fellows-2017#nav">2017 Summer Fellows and Research Projects</a>
                </li>
                <li>
                    <a href="/#/summer-fellows-2016#nav">2016 Summer Fellows and Research Projects</a>
                </li>
                <li>
                    <a href="/#/summer-fellows-2015#nav">2015 Summer Fellows and Research Projects</a>
                </li>

            </ul>
        </div>
    </div>
</div>
