<div class="container">
    <div id="summer-fellows" class="row category-page" ng-controller="summerFellowsCtrl">
        <h2 class="col-md-12">Summer Fellows 2015</h2>
        <div class="col-md-8">
            <div id="sections">
                <h3>Undergraduate and Graduate Fellows</h3>
                <div ng-repeat="fellow in fellows" ng-if="!fellow.highSchooler" class="section">
                    <img ng-src="{{fellow.image}}" class="img-responsive">
                    <div class="text">
                        <h4>{{fellow.name}}</h4>
                        <p>{{fellow.school}}</p>
                        <p class="project"><strong>{{fellow.project}}</strong></p>
                        <p>Lab: <a href="{{fellow.labLink}}" target="_blank">{{fellow.labName}}</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <h3>High School Fellow</h3>
                <div ng-repeat="fellow in fellows" ng-if="fellow.highSchooler" class="section">
                    <img ng-src="{{fellow.image}}" class="img-responsive">
                    <div class="text">
                        <h4>{{fellow.name}}</h4>
                        <p>{{fellow.school}}</p>
                        <p class="project"><strong>{{fellow.project}}</strong></p>
                        <p>Lab: <a href="{{fellow.labLink}}" target="_blank">{{fellow.labName}}</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <em>*graduate fellow</em>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" ng-src="/images/general/bookshelf.png"/>
        </div>
    </div>
</div>