<div class="container">
    <div id="srp" class="row category-page">
        <h2 class="col-md-12">Summer Research Training Program in Biomedical Big Data Science</h2>
        <div class="col-md-8">
    	    <p>The BD2K-LINCS DCIC Summer Research Training Program in Biomedical Big Data Science is a <strong>research intensive ten-week training program for undergraduate and graduate students</strong> interested in participating in cutting edge research projects aimed at solving data-intensive biomedical problems. Summer fellows conduct faculty-mentored independent research projects within laboratories affiliated with the Center in the following areas: <strong>data integration</strong>, <strong>dynamic data visualization</strong>, <strong>machine learning</strong>, <strong>data harmonization</strong>, <strong>computational drug discovery</strong>, <strong>metadata and APIs</strong>, <strong>knowledge modeling</strong>, <strong>Bayesian networks and statistical mining</strong>.</p>
    	    <p>The DCIC supports data science research focused on developing methods that would further extract knowledge from <a href="http://www.lincsproject.org/data/data-releases/" target="_blank">LINCS data</a> by integrating LINCS data with other relevant resources. Our data science projects will address methodological and computational challenges related to such integrative analyses.</p>
            <p>In summer session 2016, our research training program will be offered at the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">Ma'ayan Laboratory of Computational Systems Biology</a>, Icahn School of Medicine at Mount Sinai, New York, NY.</p>
            <p>
                <div>
                    <h3>Program Dates: June 6, 2016 - August 12, 2016</h3>
                </div>
                <div>
                    <h3>Eligibility</h3>
                    <ul>
                        <li>Applicants must be 1) a U.S. citizen or a U.S. permanent resident; 2) an undergraduate or master's student in good academic standing.</li>
                        <li>Students must be willing to work a minimum of 40 hours per week and take part in all program activities (e.g., weekly meetings, enrichment lectures, poster sessions and presentations) in addition to their mentored research work.</li>
                    </ul>
                    <h3>Benefits</h3>
                    <ul>
                        <li>Direct research experience with projects aimed at solving data-intensive biomedical problems.</li>
                        <li>Students awarded a $4000 stipend for the ten-week training period.</li>
                        <li>Interaction with the Center's computational experts through weekly meetings, enrichment lectures, and the e-poster session.</li>
                    </ul>
                    <h3>Who Should Apply?</h3>
                    <ul>
                        <li>Students majoring in Computer Science, Informatics, Mathematics, Statistics, Physics, Engineering, Chemistry/Chemical Sciences and Biological Sciences who have an interest in Biomedical Big Data Science.</li>
                        <li>Women and members of minority groups are strongly encouraged to apply.</li>
                    </ul>
                    <h3>How to Apply</h3>
                    <ul>
                        <li>Application Deadline: March 4, 2016 at 11:00 PM Eastern Time</li>
                        <li>Submit an <a href="https://docs.google.com/forms/d/1_gQ7En4jgWBZeAuV0gzg2TmOpgm0EQTfPF3hHY2e-go/viewform" target="_blank">online application form</a></li>
                        <li>E-mail your resume, letter of recommendation and an unofficial copy of your school transcripts in PDF format to: <a href="mailto:sherry.jenkins@mssm.edu">sherry.jenkins@mssm.edu</a></li>
                    </ul>
                </div>
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" ng-src="/images/index/summer.png"/>
            <br>
            <ul>
                <li> 
                    <a href="#/summer-fellows-2016#nav">2016 Summer Fellows and Research Projects</a>
                </li>
                <li>
                    <a href="#/summer-fellows-2015#nav">2015 Summer Fellows and Research Projects</a>
                </li>
                <li>
                    <a href="#/summer-fellows-2016#nav">Meet the 2016 Fellows</a>
                </li>
                <li>
                    <a href="static/dcic_summer_program.pdf" class="text-center" target="_blank">2016 Program Flyer</a>
                </li>
            </ul>
        </div>
    </div>
</div>
