<div id="team" ng-controller="teamCtrl">
	<div class="row contact-institution-logo-row">
		<!-- logo columns -->
		<div  class="col-md-4 col-sm-4" ng-repeat="entry in pis">
			<img src="images/org-logos/{{entry.logo}}" class="contact-institution-logo">
			<div>
				<img src="images/portraits/{{entry.portrait}}" class="contact-pi-logo">
				<div class="contact-pi-desc">
					<div><a href="{{entry.website}}" target="_blank">{{entry.name}}</a></div>
					<div>{{entry.position}}</div>
					<div><u>{{entry.email}}</u></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <h3 class="contact-header">Data integration (DSR)</h3>
            <div ng-repeat="entry in dataIntegration" class="col-md-4 col-sm-4 contact-researchers">
                <div><strong>{{entry.name}}</strong></div>
                <div>{{entry.affiliation}}</div>
                <div><u>{{entry.email}}</u></div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <h3 class="contact-header">Web development (IKE)</h3>
            <div ng-repeat="entry in webDevelopment" class="col-md-4 col-sm-4 contact-researchers">
                <div><strong>{{entry.name}}</strong></div>
                <div>{{entry.affiliation}}</div>
                <div><u>{{entry.email}}</u></div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <h3 class="contact-header">External DSR projects</h3>
            <div ng-repeat="entry in dataScience" class="col-md-4 col-sm-4 contact-researchers">
                <div><strong>{{entry.name}}</strong></div>
                <div>{{entry.affiliation}}</div>
                <div><u>{{entry.email}}</u></div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <h3 class="contact-header">Education and Outreach (CTO)</h3>
            <div ng-repeat="entry in outreach" class="col-md-4 col-sm-4 contact-researchers">
                <div><strong>{{entry.name}}</strong></div>
                <div>{{entry.affiliation}}</div>
                <div><u>{{entry.email}}</u></div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <h3 class="contact-header">NIH Program Officers</h3>
            <div ng-repeat="entry in nih" class="col-md-4 col-sm-4 contact-researchers">
                <div><strong>{{entry.name}}</strong></div>
                <div>{{entry.affiliation}}</div>
                <div><u>{{entry.email}}</u></div>
            </div>
        </div>
	</div>
</div>
