<div class="row category-page">
    <h2 class="col-md-12">Satellite BD2K-LINCS meeting at the Society of Toxicology (SOT) annual meeting</h2>
    <ul class="col-md-8">
        <li>
            <em>Topic:</em> "Turning Big Data to Knowledge (BD2K): A discussion of the NIH BD2K initiative and how it might advance the practice of Toxicology and Risk Assessment"
        </li>
        <li>
            <em>Date:</em> Monday, March 23, 12:15 PM–1:30 PM
        </li>
        <li>
            <em>Location:</em> San Diego Marriott Marquis & Marina (Headquarters)<br>
            333 West Harbor Drive<br>
            San Diego, CA 92101<br>
            Room: Del Mar
        </li>
    </ul>
</div>
