<div class="container" onload="init()">
    <div class="category-page direct-access-tools-page" ng-controller="directAccessToolsCtrl">

        <div class="row">
            <div class="col-sm-6">
                <!-- Category selection and -->
                <div class="tool">
                    <div class="action">
                        <div id="tool-categories" class="row">
                            <div class="col-xs-12">
                                <h3>Tool categories</h3>
                            </div>

                            <div class="category-selector col-xs-4 col-sm-3 col-md-2 text-center">
                                <button ng-click="setMode('')">all</button>
                            </div>

                            <div class="category-selector col-xs-4 col-sm-3 col-md-2 text-center" ng-repeat="button in buttons">
                                <button ng-class="button.name" ng-click="setMode(button.name)"></button>
                                <br>
                                {{ button.description }}
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <h3>Tool icons</h3>
                <!-- All tool icons -->
                <div class="tools-summary">
                    
                    <span scroll-button 
                        ng-repeat="tool in filterTools(mode)"
                        target-id="{{tool.title}}"
                        modes="tool.modes"
                        >
                        <img class="img-selector"
                            ng-src="{{tool.image}}"
                            uib-popover="{{tool.title}}" popover-trigger="mouseenter" 
                        />
                    </span>

                    <!--
                    <img class="img-selector" ng-repeat="tool in filterTools(mode)"
                        scroll-button target-id="{{tool.title}}"
                        ng-src="{{tool.image}}"
                        ng-mouseover="highlightSelector(tool.modes)"
                        ng-mouseleave="resetSelector()"
                        ng-click="gotoAnchor(tool.title, $event)"
                        uib-popover={{tool.title}} popover-trigger="mouseenter" 
                    />
                    -->

                </div>
            </div>

        </div>

        <hr>

        <!-- All tools -->
        <div class="row">
            <div class="col-sm-4" ng-repeat="tool_data in filterTools(mode)">
                <div id="{{tool_data.title}}">
                    <tool tool-data="tool_data"></tool>
                </div>
            </div>
        </div>

    </div>
</div>

