<div class="container">
    <div class="category-page getting-started-page">
        <div class="row">
            <!--<div ng-include="'view/getting-started/nav.html'"></div>-->
            <!--<div class="col-md-8"></div>-->
            <h1 class="col-md-12">Getting Started with LINCS</h1>
            <div class="section col-md-3">
                <p>I want information on...</p>
                <ul class="list-unstyled hidden">
                    <li><a href="#/getting-started/the-lincs-program">The LINCS program</a></li>
                    <li><a href="">The LINCS Data Generation Centers</a></li>
                    <li><a href="">LINCS Events</a></li>
                </ul>
            </div>
            <div class="section col-md-3">
                <p>I am interested in a LINCS...</p>
                <ul class="list-unstyled hidden">
                    <li><a href="">Drug</a></li>
                    <li><a href="">Cell line</a></li>
                    <li><a href="">Assay</a></li>
                </ul>
            </div>
            <div class="section col-md-3">
                <p>I would like to...</p>
                <ul class="list-unstyled hidden">
                    <li><a href="">Access LINCS data through APIs</a></li>
                    <li><a href="">Download LINCS data</a></li>
                    <li><a href="">Analyze my own gene sets with LINCS data</a></li>
                </ul>
            </div>
            <div class="section col-md-3">
                <p>I want to find opportunities for LINCS...</p>
                <ul class="list-unstyled hidden">
                    <li><a href="">Education</a></li>
                    <li><a href="">Funding</a></li>
                    <li><a href="">Collaboration</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>