<div class="col-md-4">
    <h1>Getting Started</h1>
    <p>General Information</p>
    <ul>
        <li><a href="/getting-started/the-lincs-program">The LINCS program</a></li>
        <li><a href="">The LINCS Data Generation Centers</a></li>
        <li><a href="">LINCS Events</a></li>
    </ul>
    <p>I am interested in a LINCS...</p>
    <ul>
        <li><a href="">Drug</a></li>
        <li><a href="">Cell line</a></li>
        <li><a href="">Assay</a></li>
    </ul>
    <p>I would like to...</p>
    <ul>
        <li><a href="">Access LINCS data through APIs</a></li>
        <li><a href="">Download LINCS data</a></li>
        <li><a href="">Analyze my own gene sets with LINCS data</a></li>
    </ul>
    <p>I want to find opportunities for LINCS...</p>
    <ul>
        <li><a href="">Education</a></li>
        <li><a href="">Funding</a></li>
        <li><a href="">Collaboration</a></li>
    </ul>
</div>