<div class="container">
    <div class="category-page search-portal-page">
        <h1>Search Portal</h1>
        <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="row">
            <div class="col-md-4 search-tool">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=100&h=100"/>
                <h3>Search Lich</h3>
                <p><a href="http://amp.pharm.mssm.edu/Lich/#/search" target="_blank">Lich</a> is a search engine that searches for LINCS L1000 gene expression profiles and signatures matching user's input parameters.</p>
                <lich-bar></lich-bar>
            </div>
            <div class="col-md-4 search-tool">
                <img src="http://amp.pharm.mssm.edu/Harmonizome/image/logo_100x87.png"/>
                <h3>Search the Harmonizome</h3>
                <p>Use <a href="http://amp.pharm.mssm.edu/Harmonizome/" target="_blank">the Harmonizome</a> to search for genes or proteins and their functional terms extracted and organized from over a hundred publicly available resources.</p>
                <harmonizome-bar></harmonizome-bar>
            </div>
            <div class="col-md-4 search-tool">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=100&h=100"/>
                <h3>Search LINCS Data Portal?</h3>
                <p>Will need to collaborate with Amar to do this.</p>
            </div>
        </div>
    </div>
</div>