<!--<div class="row">
    <div class="col-md-12" id="carousel" ng-controller="carouselCtrl" data-ng-init="init()">
        <a href='' id="carousel-img-link">
            <img src=""/>
        </a>
        <div id="carousel-btns"></div>
    </div>
</div>-->
<div class="row">
	<div class="col-md-4 col-sm-4">
		<h5 class="column-h">LEARN</h5>
		<div ng-include="'view/container/introduction.html'"></div>
		<div ng-include="'view/container/education.html'"></div>
		<div ng-include="'view/container/publications.html'"></div>
	</div>
	<div class="col-md-4 col-sm-4">
		<h5 class="column-h">EXPLORE</h5>
		<div ng-include="'view/container/datasetsassays.html'"></div>
		<div ng-include="'view/container/toolsapps.html'"></div>
		<div ng-include="'view/container/apisdocs.html'"></div>
	</div>
	<div class="col-md-4 col-sm-4">
		<h5 class="column-h">GET INVOLVED</h5>
		<div ng-include="'view/container/news.html'"></div>
		<div ng-include="'view/container/events.html'"></div>
		<div ng-include="'view/container/community.html'"></div>
	</div>
</div>
